/* some header */

a.mymenu {
    color: #000;
    font-family: 'Quattrocento Sans';
    font-size: 16px;
    padding-right: 28px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
}
a.mymenu:hover {
    color: #767676;
}

a.above:hover {
  text-decoration:underline !important;
  color: #000;
}

#onlyme .md-virtual-repeat-container .md-virtual-repeat-scroller {
    margin-bottom: 120px;
}

.md-button.md-default-theme.md-raised, .md-button.md-raised {
    background-color: #DDD4C8;
}

md-tabs-canvas {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 0px;
}

md-tab-content, md-tabs-content-wrapper {
    margin-top: 10px;
}


md-list-item.md-2-line .md-list-item-text h4, md-list-item.md-2-line>.md-no-style .md-list-item-text h4, md-list-item.md-3-line .md-list-item-text h4, md-list-item.md-3-line>.md-no-style .md-list-item-text h4 {
  white-space: normal;
}

.hidy {
  overflow-y: hidden;
}

md-sidenav {
    width: 520px;
    max-width: 620px;
}

.virtualRepeatInfiniteScroll #vertical-container {
  height: 700px;
  width: 100%;
  max-width: 950px;
}

.virtualRepeatInfiniteScroll .repeated-item {

/*
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
*/
  height: 40px;
  /*padding-top: 10px;*/
}

.virtualRepeatInfiniteScroll md-content {
  margin: 16px;
}

/*
.virtualRepeatInfiniteScroll md-virtual-repeat-container {
  border: solid 1px grey;
}
*/

.virtualRepeatInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px;
}

/*
.diff a:link {color:#039be5;}
.diff a:visited {color:#039be5;}
.diff a:hover {color:#039be5;}
.diff a:active {color:#039be5;}

md-tabs-canvas {
    margin-top: 10px;
    border: 1px black solid;
}
*/

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 100%;
    height: 600px;
}

md-list .highlight {
    color: black;
    background: #eee;
    border: 1px solid red;
    border-radius: 2px;
    margin: -1px;
}

.highlightedText {
    background: yellow;
}

.smaller-margin md-input-container {
    margin: 5px 0px 5px 0px;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}
.md-errors-spacer:empty { display: none; }

.scrolling {
    width: 200px;
    height: 500px;
    overflow: scroll;
    /*-webkit-overflow-scrolling: touch;*/
}

.padbtn {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

.minextrait {
    min-width: 200px;
}

.nobox {
    box-shadow: 0 0 0 0;
}

.searchthumb {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 130px;
    height: 160px;
}

/*
http://stackoverflow.com/a/31278615/2114395
*/
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.topv-align {
    vertical-align: top;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.right-pad {
    padding-right:20px;
}

.left-pad: {
    padding-left: 10px;
}

.details-pad {
    padding: 15px 2px 15px 2px;
}

/*
http://stackoverflow.com/a/24249906/2114395
and
http://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/
**/

.thumbnail {
    position:relative;
    text-align:center;
    width:100%;
    height:200px;
    overflow:hidden;
}
.thumbnail img {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

/***/

.grad {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/
}

.slideback {
    position: absolute; left: 0px; top: 0px;
    width: 100%; height: 100%;
    z-index: -1; opacity: 0.6;
    background-size: 100%;
}

.fragola {
    color: #F50057;
}

/* UHM */
.lefty table thead th {
    text-align: left;
    padding: 0px;
}

.nospaces { padding: 0; margin: 0; border:0; }
.nospaces table { padding: 0; margin: 0; border:0; }
.nospaces table th { padding: 0; margin: 0; border:0; }
.nospaces table td { padding: 0; margin: 0; border:0; }
.nospaces table tbody th { padding: 0; margin: 0; border:0; }
.nospaces table tbody td { padding: 0; margin: 0; border:0; }

.rounder {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.fullheight { height: 100%; }

.smalltexttable {
    font-size: 12px;
    margin-top: 20px;
}
/*
.smalltexttable table { padding: 0; }
.smalltexttable tr { padding: 0; margin: 0; }
*/
.smalltexttable thead {
    border: 0; padding-top: 30px; padding-bottom: 2px; }
.smalltexttable th,td { padding-top: 0px; padding-bottom: 5px; }
.topaling td, th {
    vertical-align: top;
    line-height: 10px;
}

.resizetowindow {
 width: calc(100%);
 /*
 height: calc(100%);
 */
 height: 100vh - 100px;
 padding-top: 50px;
}

header, main, footer {
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 2em;
}

.transcription {
  font-family: "Lucida Console", Monaco, monospace;
  height: 600px;
  overflow-y: scroll;
  padding: 5px;
}

.celltop {
  vertical-align: top;
}

.brandpad {
  margin-left: 30px;
}

.tabtop {
  padding-top:20px;
}

/* AUTOCOMPLETE */
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    height: 300px;
    max-height: 300px !important;
}
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata
 {
  display: block;
  line-height: 2;
  width: 50px;
}


/* FAB BUTTON */
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.fabSpeedDialdemoMoreOptions .md-fab-top-right {
  top: 16px; }
@media only screen and (max-device-width: 600px) {
  .fabSpeedDialdemoMoreOptions .md-fab-top-right {
    top: 9px;
    right: 9px; } }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.trigger-fab.md-focused, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab:hover, .fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab.md-focused {
  background-color: #333; }
.fabSpeedDialdemoMoreOptions .md-fab.demo-fab.action-fab {
  background-color: #aaa; }
.fabSpeedDialdemoMoreOptions md-content div[flex="50"] {
  padding: 15px; }
.fabSpeedDialdemoMoreOptions md-fab-speed-dial {
  margin-top: 89px; }
  .fabSpeedDialdemoMoreOptions md-fab-speed-dial md-fab-trigger {
    transition: all 0.3s ease-in-out;
    transform: scale(1); }
  .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide {
    display: flex !important; }
    .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-scale.ng-hide md-fab-trigger, .fabSpeedDialdemoMoreOptions md-fab-speed-dial.md-fling.ng-hide md-fab-trigger {
      transform: scale(0); }
.fabSpeedDialdemoMoreOptions .intro {
  padding-left: 5px; }

.fabbutton {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

/*
https://github.com/vitalets/angular-xeditable/issues/232#issuecomment-73084466
*/
md-input-container.editable-controls {
  padding: 0;
}
md-input-container.editable-controls [ng-message] {
  position: static;
}

.noshadow {
    box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
}

table.highlight td span.highlight {
    color: black;
    background: #eee;
    border: 1px solid red;
    border-radius: 2px;
    margin: -1px;
}

table.highlight td span.highlight:empty {
    display: none;
}
