
<md-content layout-padding layout-wrap
    ng-controller="UserManagerController as umc">

 <h3>Users</h3>
 <br>

 <table class="bordered">

  <thead>
    <tr>
      <th> Username </th>
      <th> Identity </th>
      <th> Active </th>
      <!-- <th> Roles </th> -->
      <th> Operations </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="user in umc.users">
      <td> {{user.email}} </td>
      <td> {{user.surname}} {{user.name}} </td>
      <!-- <td> {{user.roles}} </td> -->
      <td> - </td>
      <td>
        <a href ng-disabled="true" class="btn btn-floating">
            <i class="material-icons" data-position="down"

                data-tooltip="Edit" tooltipped>edit</i>
        </a>
      </td>
    </tr>
  </tbody>
 </table>

<!--
    NOT WORKING?
{{umc}}
-->

</md-content>
