<div ng-controller='ToastController as toasting'>

 <md-content
    ng-controller="AdminController as adm">
  <md-tabs md-dynamic-height md-border-bottom
    md-swipe-content md-center-tabs md-enable-disconnect
    md-autoselect='false' md-selected='selectedTab'>

<!-- TABS -->

    <md-tab label="Welcoming Subsections"
        md-on-select="adm.onTabSelected('subsections')">
      <md-content layout-padding flex='grow'>
        <div ng-include="root.blueprintTemplateDir
            + 'admin_subsection.html'"></div>
      </md-content>
    </md-tab>

    <md-tab label="Welcoming sections"
        md-on-select="adm.onTabSelected('sections')">
      <md-content layout-padding flex='grow'>
        <div ng-include="root.blueprintTemplateDir
            + 'admin_section.html'"></div>
      </md-content>
    </md-tab>

    <md-tab label="Welcoming slides"
        md-on-select="adm.onTabSelected('slides')">
      <md-content layout-padding flex='grow'>
        <div ng-include="root.blueprintTemplateDir
            + 'admin_slides.html'"></div>
      </md-content>
    </md-tab>

    <md-tab label="Steps" md-on-select="adm.onTabSelected('tree')">
      <md-content class="md-padding">
        <div ng-include="root.blueprintTemplateDir + 'admin_step.html'"></div>
      </md-content>
    </md-tab>

  </md-tabs>
 </md-content>

</div>