
<div ng-controller='ToastController as toasting'>
 <div ng-controller="ExpoController as expo" layout-fill>

    <section id='upload'></section>

    <md-toolbar layout="column"
        class="md-tall md-default-theme light-blue lighten-1 md-whiteframe-6dp">
      <div class="md-toolbar-tools">
        <div layout="row" flex="flex" class="fill-height"
        layout-align="center center">
          <div class="md-toolbar-item md-breadcrumb" aria-hidden="false">
            <span tabindex="0">
                <br>
                <b>Expo images management</b>
                <br>
            </span>
          </div>
        </div>
      </div>
    </md-toolbar>

  <div layout="column"

    flow-init="expo.config"
    flow-files-submitted="$flow.upload()"
    flow-file-success="expo.uploaded($file)"
    flow-file-added="expo.adding($file, $event, $flow)"
    flow-file-error="expo.fileError($file, $message)"
    flow-progress="expo.progressing">

    <div layout="row" layout-padding>
        <md-card flex=50>

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Expo descriptions</span>
            <span class="md-subhead">Main elements description text</span>
          </md-card-title-text>
        </md-card-title>

            <md-card-content>

      <md-list flex layout-padding>

        <md-list-item class="md-2-line" ng-click="expo.editDescription('home')">
            <i class="material-icons">home</i>
          <div class="md-list-item-text" layout="column">
            <h3>Expo main page</h3>
            {{ (expo.descriptions.home|| 'no description yet...')
                | limitTo:50  }}
          </div>
        </md-list-item>

        <md-list-item class="md-2-line"
            ng-click="expo.editDescription('parsections')">
            <i class="material-icons">view_list</i>
          <div class="md-list-item-text" layout="column">
            <h3>Expo parcours par sections</h3>
            {{ (expo.descriptions.parsections || 'no description yet...')
                | limitTo:50  }}
          </div>
        </md-list-item>

        <md-list-item class="md-2-line"
            ng-click="expo.editDescription('paroeuvres')">
            <i class="material-icons">view_module</i>
          <div class="md-list-item-text" layout="column">
            <h3>Expo parcours par oeuvres</h3>
            {{ (expo.descriptions.paroeuvres || 'no description yet...')
                | limitTo:50  }}
          </div>
        </md-list-item>

        <md-list-item class="md-3-line"
            ng-repeat="item in todos" ng-click="null">
            <i class="material-icons">view_model</i>
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>

       </md-list>

            </md-card-content>
        </md-card>

        <md-card flex=50 ng-if="expo.description.edit">
            <md-card-content>
            Change description:
            <md-input-container class="md-block">
              <label>texte</label>
              <textarea ng-model="expo.description.edit"
              md-maxlength="5000" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            </md-card-content>
            <md-card-actions>
                <md-button ng-click="expo.saveDescription()"> save </md-button>
            </md-card-actions>
        </md-card>
    </div>

    <md-card
        > <md-card-content layout="column" layout-align="center center"
        >
     <span class="btn waves-effect waves-light red"
        flow-btn>upload new image</span>
     <table>
      <tr ng-repeat="file in $flow.files">
        <td> Request {{$index+1}}</td>
        <td> {{file.name}}</td>
        <td>
            <span ng-if="file.status == 'fail'">
                <i class="material-icons">clear</i>
            </span>
            <span ng-if="file.status == 'uploaded'">
                <i class="material-icons">done</i>
            </span>
            <span ng-if="file.status == 'progress'">
                <md-progress-circular md-mode='indeterminate'
                    class="md-hue-2" md-diameter="40px"
                    ></md-progress-circular>
            </span>
        </td>
        <td>
            <div ng-if='file.errorMessage'>
                <h5>Error(s):</h5>
                <span ng-bind-html="file.errorMessage"></span>
            </div>
        </td>
        <td> <img flow-img="file" width="100"> </td>
      </tr>
     </table>
    </md-card-content> </md-card>

    <md-card ng-show="keylen(expo.files) > 0">
        <md-card-content
            layout="column" layout-align="center center"
            layout-wrap layout-fill>
        <h4>Uploaded images</h4>

        <table>
            <thead>
                <tr>
                    <th>File</th>
                    <th>Title</th>
                    <th>Section</th>
                    <th>Cover</th>
                    <th>Theme</th>
                    <th colspan="10">Actions</th>
                </tr>
            </thead>
          <tr ng-repeat="(uuid, options) in expo.files">

            <td style="max-width: 250px;">
                <img lazy-img="{{ root.imagesPath
                    + options.file +'/TileGroup0/0-0-0.jpg' }}"
                     width=80> <br> {{adjust(options.name)}}
            </td>
            <td style="max-width: 250px;">
                <span ng-if="options.details.titre">
                {{adjust(options.details.titre)}}
                </span>
            </td>
            <td> {{options.section}} </td>
            <td>
                <span ng-if="options.cover">
                    <i class="material-icons">check</i>
                </span>
            </td>
            <td> {{options.theme}} </td>
            <td>
            <div ng-if="options.details.titre"
                flow-init="expo.config"
                flow-files-submitted="$flow.upload()"
                flow-file-error="expo.fileError($file, $message)"
                flow-file-success="expo.changeImage($file, options)" >
               <span
                   class="btn waves-effect waves-light btn-floating yellow"
                   tooltipped data-position="down" data-tooltip="Substitute image"
                    flow-btn
                   >
                   <i class="material-icons"> change_history </i>
               </span>
            </div>
            </td>
            <td>
       <a href tooltipped ng-click="expo.update(uuid)"
           data-position="down" data-tooltip="Edit content"
           class="waves-effect waves-light btn-floating blue">
           <i class="material-icons"> web </i>
       </a>
            </td>
            <td>
       <a href tooltipped ng-click='expo.remove(uuid)'
           data-position="down" data-tooltip="Remove"
           class="waves-effect waves-light btn-floating red">
           <i class="material-icons"> delete </i>
       </a>
            </td>

            </td>
          </tr>
        </table>

    </md-card-content> </md-card>

    <section id='edit'></section>
    <md-card ng-if="expo.current">
        <md-card-content layout="column" layout-align="center center"
        class="light-blue lighten-5"
        >
        <h4>Edit element </h4>
        <b>{{expo.current.name}}</b>

    <!-- SECTION -->
      <div>
          <md-input-container>
            <label>Section</label>
            <md-select ng-model="expo.current.section"
                md-on-close="expo.reloadThemes(expo.current.section)" >
              <md-optgroup label="sections">
                <md-option ng-value="item" ng-repeat="item in expo.sections"
                    >{{item}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

          <md-input-container ng-if="expo.current.section == expo.newelement">
            <label>New Section</label>
            <input ng-model="expo.current.newsection" type="text" required>
          </md-input-container>
        </div>

    <!-- THEME -->
      <div>
          <md-input-container>
            <label>Theme</label>
            <md-select ng-model="expo.current.theme">
              <md-optgroup label="themes">
                <md-option ng-value="item" ng-repeat="item in expo.themes"
                    >{{item}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

          <md-input-container ng-if="expo.current.theme == expo.newelement">
            <label>New Section</label>
            <input ng-model="expo.current.newtheme" type="text" required>
          </md-input-container>

        </div>

    <!-- COVER -->
      <div>
            <md-radio-group ng-model="expo.current.cover">
              <div layout="row" layout-padding>
                  <label>Is this the section cover?</label>
                  <div>&nbsp;</div>
                  <md-radio-button value="1" class="md-primary"> yes </md-radio-button>
                  <md-radio-button value="0"> no </md-radio-button>
              </div>
            </md-radio-group>
      </div>

    <!-- DETAILS -->
      <div>
        <form name="expo.myForm">
            <md-input-container layout-padding
              ng-repeat="(detail, options) in expo.details">
                <label>{{detail}}</label>
                <input
                    ng-model="expo.current.details[detail]"
                    ng-required="options.required"
                    type="{{options.type}}">
            </md-input-container>

            <md-input-container class="md-block">
              <label>texte</label>
              <textarea ng-model="expo.current.details.texte"
              md-maxlength="5000" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <div ng-messages="expo.myForm.titre.$error">
              <div ng-message="required">This is required!</div>
            </div>

        </form>
      </div>

        <div>
            <md-button ng-click="expo.save()"> save </md-button>
            <md-button ng-click="expo.close()"> cancel </md-button>
        </div>
        </md-card-content>
    </md-card>

  </div>

 </div>
</div>