
<md-content layout="row" layout-padding
    ng-controller="WelcomeInfoController as welcome"
    >

<!--CONTENT -->
 <div layout="column" layout-align='center center' flex>

   <div style="position: relative; height: 680px;">

    <!-- IMAGE (with link) -->
    <div class="rounder" style="background-repeat: no-repeat;
        background-size: 100% 100%; width: 850px; height: 670px; z-index:1;
        background-image: url('/static/uploads/welcome/base_de_donnees.jpg')"
        ></div>

    <!-- BACKGROUND COLOR -->
    <div class="rounder md-whiteframe-6dp"
        style=" position: absolute; bottom: 10px; background-color: #bcb862;
        width: 850px; height: 670px; opacity: .7; z-index:2;">
        </div>

    <md-card class="rounder md-whiteframe-9dp"
        style="position: absolute; top: 250px; right: -30px; z-index:6;">
        <md-card-content layout="row" layout-align="center center" layout-padding>
            <i class="material-icons prefix">search</i>
            <h5> Mot-clé </h5>
            <div style="width: 20px;"></div>
           <a class="btn-floating" ng-click="activateSearch()">
               <i class="small material-icons">keyboard_arrow_right</i>
           </a>
        </md-card-content>
    </md-card>

    <md-card class="rounder md-whiteframe-9dp"
        style="position: absolute; top: 350px; right: -30px; z-index:6;">
        <md-card-content layout="row" layout-align="center center" layout-padding>
            <i class="small material-icons prefix">view_list</i>
            <h5> Liste des fêtes </h5>
            <div style="width: 20px;"></div>
           <a class="btn-floating" ng-click="activateOther('list', {})">
               <i class="medium material-icons">keyboard_arrow_right</i>
           </a>
        </md-card-content>
    </md-card>

    <div class="card-panel lighten-4 rounder z-depth-5"
        style="position: absolute; bottom: 50px; left: 20px; width: 500px; z-index:4;"
    >
    <h5>Comment chercher dans<br>la base de données?</h5>

La base de données propose des copies digitalisés des relations imprimées et manuscrites des fêtes de canonisation des saints Ignace et François-Xavier, déroulées sur le territoire des anciens Pays-Bas méridionaux, de l’Italie et de la France en 1622. Les copies digitalisées des textes rédigés en latin, italien et français sont accompagnés d’une transcription.
<br>
<br>

Les textes sont accessibles via:
<ul>
<li> Une recherche libre qui permet de multiplier les critères de recherche. Pour ce faire...
</li>
<li> Une liste des fêtes. </li>
</ul>

Pour optimiser la recherche portant directement sur le contenu des transcriptions en latin, français ancien et italien ancien, <b>un lexique multilingue de la fête</b> propose au chercheur...
    </div>

<!--
    <div layout="row" layout-align="center center"
        style=" position: absolute; bottom: 200px; left: 30px;
        background-color: white; width: 300px;
        border-radius: 5px; padding: 10px 30px; z-index:3;">
            <i class="material-icons prefix">search</i>
            <input value=" mot-clé" ng-focus="activateSearch()">
        </div>

    <div layout="row" layout-align="center center"
        style=" position: absolute; bottom: 100px; left: 30px;
        background-color: white; width: 300px;
        border-radius: 5px; padding: 10px 30px; z-index:3;">
            <i class="material-icons prefix">list</i>
            <input value=" liste des fêtes" ng-focus="activateOther('list')">
        </div>
-->

    <!-- TITLE -->
    <div style=" position: absolute; top: 10px; padding-left: 5%; color: white;
        width: 100%; z-index:3;">
        <!-- TITLE -->
        <h2 class="header"> RECHERCHE <hr> </h2>
    </div>

   </div>
 </div>
</md-content>
