<div ng-controller="ToastController as toast" >
 <div ng-controller="DetailsController as detail" >

    <a ui-sref='logged.fastsearch()'>
        <md-button>
            <div layout='row' layout-align="center center" flex >
                <i class="material-icons prefix">arrow_back</i> Retour
            </div>
        </md-button>
    </a>

  <div ng-if="detail.load" ng-include="root.templateDir+'loader.html'"></div>
  <div ng-if='detail.data' layout="column">
      <div ng-hide="detail.data.id"> No data... </div>

  <div layout-gt-md="row" layout="column">

<!-- MAKE RESPONSIVE -->
   <div flex="70" class="right-pad" ng-if="detail.data.id">

<!--
      <div>
        <span>
        <b>Fête</b>: {{detail.refinedData["Fête"]["Titre abrégé"]}}
        <br>
        <b>Source</b>: {{detail.refinedData["Source"]["Titre abrégé"]}}
        <br>
        <b>Extrait</b>: {{detail.refinedData["Extrait"]["Numero de l'extrait"]}}
        </span>
        <br>
        <b>Page</b>: {{detail.refinedData["Extrait"]["Numero de page de l'extrait"]}}
        </span>
      </div>
-->

      <div layout="row">
          <md-content flex="40" layout="row" layout-padding layout-align="center center">
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.first_page.name}}"
                ng-if="detail.first_page && !detail.first_page.current
                    && detail.first_page.id != detail.previous_page.id"
                ui-sref="logged.details({id: detail.first_page.id})">
                <i class="material-icons">skip_previous</i>

            </a>
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.previous_page.name}}"
                ng-if="detail.previous_page && !detail.previous_page.current"
                ui-sref="logged.details({id: detail.previous_page.id})">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
          </md-content>
          <div flex="20" layout-align="center center" style="text-align:center;">
              <div ng-if="!detail.pages">
                <i>
                    Date de la page manquante...
                </i>
              </div>
              <md-input-container ng-if="detail.pages && detail.pagesElements > 0">
                <label>choisissez la page</label>
                <md-select ng-model="detail.page" md-on-close="detail.changePage()" >
                  <md-optgroup label="pages">
                    <!-- <md-option ng-value="">-</md-option> -->
                        <!-- {{item.name}} ({{item.page}}) -->
                    <md-option ng-value="item.id" ng-repeat="item in detail.pages" >
                        {{item.page}}
                        <!--
                        ( {{item.name}} )
                        -->
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
          </div>
          <md-content flex="40" layout="row" layout-padding layout-align="center center">
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.next_page.name}}"
                ng-if="detail.next_page && !detail.next_page.current"
                ui-sref="logged.details({id: detail.next_page.id})">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.last_page.name}}"
                ng-if="detail.last_page && !detail.last_page.current
                    && detail.last_page.id != detail.next_page.id"
                ui-sref="logged.details({id: detail.last_page.id})">
                <i class="material-icons">skip_next</i>
            </a>
          </md-content>
      </div>

      <div layout="row" style="min-width: 200px;">

    <!-- NO IMAGE? -->
        <div flex=100 style="text-align: center; padding-top:50px;"
            ng-if="!detail.data.images[0].filename">
            <i class="material-icons">collections</i>
            <br>
            image indisponible
        </div>

    <!-- WITH IMAGE? -->
        <div flex=50 style="text-align: center;"
            ng-if="detail.data.images[0].filename">
            <a href="/zoom/{{ detail.data.id }}/{{ detail.data.images[0].code }}"
                target="_blank" class="hoverable" >
             <img tooltipped data-position="right" data-delay="50"
                data-tooltip="Click to zoom this image"
                style="
                height: 500px; max-width: 300px;
                "
                ng-src="/static/uploads/{{detail.data.images[0].filename}}">
            </a>
        </div>

        <!-- IMAGE TEXT -->
        <div flex=50 style="min-width: 200px;"
            ng-if="detail.data.images[0].filename"
        class="scrolling" layout="column" layout-align="start center">

            <div ng-if="detail.languages.length > 1">
              <md-input-container>

                <!-- <label>Languages</label> -->

                <md-select
                    aria-label="languages"
                    ng-model="detail.selected_language"
                    md-on-close="detail.selectLanguage()" >
                  <md-optgroup label="languages">
                    <md-option ng-value="item"
                        ng-repeat="item in detail.languages"
                        >{{item}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>

            <!-- CONTENT -->
            <div style="padding-right: 20px;"
                ng-dblclick="detail.showListBottomSheet()"
                ng-bind-html="detail.current_text"
                ></div>
        </div>
<!-- IMAGE TEXT -->
     </div>

  </div> <!-- END OF 70 -->

<!-- MAKE RESPONSIVE -->
  <div flex="30" layout="column" layout="center end"
    class="rounder details-pad">

    <table class="topalign smalltexttable">

     <thead> <tr> <td colspan="2">
        <div ng-if="detail.logged" layout="row">
          <div flex="40" layout="row">
            <div class="left-pad">
                <a ui-sref="logged.submit({id: theid})" class="btn btn-floating">
                    <i class="material-icons" data-position="down"
                        data-tooltip="Modify this record" tooltipped>edit</i>
                </a>
            </div>
            <div class="left-pad"
                ng-if="detail.data.images[0].filename"
                flow-init="detail.config"
                flow-file-added="detail.adding($file, $event, $flow)"
                flow-files-submitted="$flow.upload()"
                flow-file-error="detail.fileError($file, $message)"
                flow-file-success="detail.changeImage($file, options)" >
               <span
                   class="btn btn-floating"
                   tooltipped data-position="down" data-tooltip="Change current image"
                    flow-btn
                   >
                   <i class="material-icons"> change_history </i>
               </span>
            </div>
            <div class="left-pad">
                <a ui-sref="logged.remove({id: theid})" class="btn btn-floating">
                    <i class="material-icons" data-position="down"
                        data-tooltip="Delete this record" tooltipped>delete</i>
                </a>
            </div>
          </div>
          <div flex="60">
                <h4 class="teal-text text-darken-2">
                Métadonnées
                <!-- DE LA PAGE -->
                </h4>
          </div>
        </div>

        </td> </tr> </thead>
     <thead style="background-color: #b3ccd9;">
      <tr>
        <td colspan="2"> <h5> FÊTE </h5> </td>
       </tr> </thead>
      <tbody ng-init="key2='Fête'"
      style="background-color: #b3ccd9;">
        <tr ng-init="field11='Titre abrégé'"
            ng-show='detail.refinedData[key2][field11]'>
          <th width="35%"> Fête </th>
          <td> {{detail.refinedData[key2][field11]}} </td>
        </tr>
        <tr ng-init="field12='Date'"
            ng-show='detail.refinedData[key2][field12]'>
          <th width="35%"> {{ field12 }} </th>
          <td>
            <span ng-if='detail.refinedData.date'>
            {{
            detail.refinedData[key2]["Date de début de la fête"]
            | date:'dd/MM'
            }}
            -
            {{
            detail.refinedData[key2]["Date de la fin de la fête"]
            | date:'dd/MM'
            }}
            /
            </span>
            {{detail.refinedData[key2][field12]}}
            </td>
        </tr>
        <tr ng-init="field13='Lieu'"
            ng-show='detail.refinedData[key2][field13]'>
          <th width="35%"> {{ field13 }} </th>
          <td> {{detail.refinedData[key2][field13]}} </td>
        </tr>
        <tr ng-init="field14='Notes'"
            ng-show='detail.refinedData[key2][field14]'>
          <th width="35%"> {{ field14 }} </th>
          <td> {{detail.refinedData[key2][field14]}} </td>
        </tr>

      </tbody>

     <thead style="background-color: #89E885;">
      <tr>
        <td colspan="2"> <h5> UHM </h5> </td>
       </tr> </thead>
     <tbody style="background-color: #89E885;"
      ng-init="key='Détails'"
          ng-dblclick="detail.showListBottomSheet()">
        <tr ng-init="field1='Personnages'"
            ng-show='detail.refinedData[key][field1]'>
          <th width="35%"> {{ field1 }} </th>
          <td> {{detail.refinedData[key][field1]}} </td>
        </tr>
        <tr ng-init="field2='Temps'"
            ng-show='detail.refinedData[key][field2]'>
          <th width="35%"> {{ field2 }} </th>
          <td> {{detail.refinedData[key][field2]}} </td>
        </tr>
        <tr ng-init="field3='Actions'"
            ng-show='detail.refinedData[key][field3]
            || detail.refinedData[key][field3 + " libres"]'>
          <th width="35%"> {{ field3 }} </th>
          <td>
            {{detail.refinedData[key][field3]}}<span
                ng-if="detail.refinedData[key][field3] && detail.refinedData[key][field3 + ' libres']">,</span>
            {{detail.refinedData[key][field3 + ' libres']}}
          </td>
        </tr>
        <tr ng-init="field4='Apparato'"
            ng-show='detail.refinedData[key][field4]
            || detail.refinedData[key][field4 + " libre"]'>
          <th width="35%"> {{ field4 }} </th>
          <td>
            {{detail.refinedData[key][field4]}}<span
                ng-if="detail.refinedData[key][field4] && detail.refinedData[key][field4 + ' libres']">,</span>
            {{detail.refinedData[key][field4 + ' libre']}}
          </td>
        </tr>
      </tbody>


     <thead style="background-color: #C4FFEB;" >
      <tr> <td colspan="2">
        <h5> SOURCE </h5>
        </td> </tr> </thead>
      <tbody style="background-color: #C4FFEB;"
        ng-init="key3='Source'">
        <tr ng-init="field22='Titre'"
            ng-show='detail.refinedData[key3][field22]'>
          <th width="35%"> {{ field22 }} </th>
          <td>
            <a href>
          {{detail.refinedData[key3][field22]}}
            </a>
          </td>
        </tr>
        <tr>
           <th> Titre abrégé </th>
           <td>
                {{detail.refinedData["Source"]["Titre abrégé"]}}
           </td>
        </tr>
        <tr ng-init="field21='Type de source'"
            ng-show='detail.refinedData[key3][field21]'>
          <th width="35%"> {{ field21 }} </th>
          <td> {{detail.refinedData[key3][field21]}} </td>
        </tr>
        <tr ng-init="field22bis='Lieu d' + quote + 'édition'"
            ng-show='detail.refinedData[key3][field22bis]'>
          <th width="35%"> {{ field22bis }} </th>
          <td> {{detail.refinedData[key3][field22bis]}} </td>
        </tr>
        <tr ng-init="field23='Noms'"
            ng-show='detail.refinedData[key3][field23]'>
          <th width="35%"> {{ field23 }} </th>
          <td> {{detail.refinedData[key3][field23]}} </td>
        </tr>
        <tr ng-init="field24='Edition'">
          <th width="35%"> {{ field24 }} </th>
<!-- TO FIX -->
          <td ng-init="tmp='Lieu d' + quote + 'édition'">
          {{detail.refinedData[key3][tmp]}}<span
            ng-if="detail.refinedData[key3][tmp]"
            >,</span>
          {{detail.refinedData[key3]["Année"]}} </td>
        </tr>
        <tr ng-init="field25='Format'">
          <th width="35%"> {{ field25 }} </th>
          <td ng-init="tmp='Nombre d' + quote + 'illustrations'">
            {{detail.refinedData[key3]["Dimensions"]}}<span
            ng-if="detail.refinedData[key3]['Dimensions']"
            >;</span>
            {{detail.refinedData[key3]["Nombre de pages/folio"]}}<span
            ng-if="detail.refinedData[key3]['Nombre de pages/folio']
            && detail.refinedData[key3][tmp]"
            >;</span>
            {{detail.refinedData[key3][tmp]}}
          </td>
        </tr>
        <tr ng-init="field26='Cote'"
            ng-show='detail.refinedData[key3][field26]'>
          <th width="35%"> {{ field26 }} </th>
          <td> {{detail.refinedData[key3][field26]}} </td>
        </tr>
        <tr ng-init="field26bis='Liens'"
            ng-show='detail.refinedData[key3][field26bis]'>
          <th width="35%"> {{ field26bis }} </th>
          <td>
            <a target='_blank'
                href="{{detail.refinedData[key3][field26bis]}}">
                {{detail.link}}
            </a>
          </td>
        </tr>
        <tr ng-init="field27='Notes'"
            ng-show='detail.refinedData[key3][field27]'>
          <th width="35%"> {{ field27 }} </th>
          <td> {{detail.refinedData[key3][field27]}} </td>
        </tr>
      </tbody>

     <thead ng-init="field31='Sources'"
           ng-show='detail.refinedData[key2][field31]'>
       <tr> <td colspan="2">
        <h5> AUTRES SOURCES LIEES </h5>
        </td> </tr> </thead>
      <tbody
           ng-show='detail.refinedData[key2][field31]'>
        <tr>
          <td colspan="2"> {{detail.refinedData[key2][field31]}} </td>
        </tr>
      </tbody>

     <thead
           ng-show='detail.refinedData[key2][field31]'>
    <tr> <td colspan="2">
        <h5> DÉTAILS DE LA FÊTE </h5>
        </td> </tr> </thead>
      <tbody
           ng-show='detail.refinedData[key2][field31]'>
        <tr>
          <td colspan="2"> {{detail.refinedData[key2][field31]}} </td>
        </tr>
      </tbody>

    </table>

   </div> <!-- END OF 30 -->
  </div> <!-- END OF COLUMN -->

 </div> <!-- END OF DATA -->

</div>
</div>
