<div ng-controller="DetailsController as detail">
  <div class="row" ng-hide="detail.data && detail.data.id">
  No data...
  </div>

 <div ng-if='detail.data' layout="column">

 <div layout="column" layout-padding>
    <h4> NOTICE DETAILLEE:
    <b>
        {{detail.refinedData["Extrait"]["Numero de l'extrait"]}}
    </b>
    </hr>
    </h4>
 </div>

  <div layout="row" layout-padding>
  <div flex="65" ng-if="detail.data.id">

      <div class="card-panel teal lighten-3">
        <span class="white-text">
        <b>Fête</b>: {{detail.refinedData["Fête"]["Titre abrégé"]}}
        <br>
        <b>Source</b>: {{detail.refinedData["Source"]["Titre abrégé"]}}
        </span>
      </div>

      <div layout="row">
          <md-content flex="20" layout-padding layout-wrap
            ng-if="detail.previous.link">
                <a href layout="row" layout-align="center center"
                    ui-sref="public.details({id: detail.previous.link})">
                    <i class="material-icons">keyboard_arrow_left</i>
                    {{detail.previous.text}}
                </a>
          </md-content>
          <div flex="60"></div>
          <md-content flex="20" layout-padding layout-wrap
            ng-if="detail.next.link">
                <a href layout="row" layout-align="center center"
                    ui-sref="public.details({id: detail.next.link})">
                    {{detail.next.text}}
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
          </md-content>
      </div>

      <div layout="row" layout-padding
        class="card-panel indigo lighten-5">


        <div flex=50>
            <a ng-if="detail.data.images[0].filename"
                href="/zoom/{{ detail.data.id }}/{{ detail.data.images[0].code }}"
                target="_blank">
             <div
                       tooltipped data-position="right" data-delay="50"
                       data-tooltip="Click to zoom this image"
                style="
                    background: url('/static/uploads/{{detail.data.images[0].filename}}');
                    background-size: 100% 100%;
                    height: 100%;
                    min-height: 400px;
                ">&nbsp;
             </div>
            </a>
            <div ng-if="!detail.data.images[0].filename">
                Image indisponible
                <br>
                <i class="material-icons">collections</i>
            </div>
        </div>
        <div flex=50>
          <div ng-bind-html="detail.test"></div>
        </div>
      </div>
  </div> <!-- END OF ROW -->

  <div flex="30" style="height: 100%;"
    layout="column" layout-align="space-between end">
      <div class="card-panel teal lighten-4">
        <h5> DÉTAILS DE LA PAGE </h5>

<div ng-repeat="(name, rows) in detail.refinedData"
  ng-if="name !== 'undefined' && name != 'Extrait'">
    <table>

     <thead> <tr> <td colspan="2">
        <div class="card-panel indigo lighten-5">
        <h6> <u> {{name}} </u> </h6>
        </div>
        </td> </tr> </thead>

      <tbody>
        <tr ng-if='value' ng-repeat='(key, value) in rows'>
          <th> {{ key }} </th>
          <td ng-if="name == 'Extrait' && key.indexOf('ero de l') >= 0">
            <b> <i>{{ value }}</i> </b> </td>
          <td ng-if="!(name == 'Extrait' && key.indexOf('ero de l') >= 0)"> {{ value }} </td>
        </tr>
      </tbody>
    </table>
</div>


      </div>
  </div>
  </div> <!-- END OF COLUMN -->

 </div> <!-- END OF DATA -->
</div>
