<div ng-controller="ToastController as toast" >
 <div ng-controller="DetailsController as detail" >

    <a ui-sref='public.fastsearch()'>
        <md-button>
            <div layout='row' layout-align="center center" flex >
                <i class="material-icons prefix">arrow_back</i> Retour
            </div>
        </md-button>
    </a>

  <div ng-if="detail.load" ng-include="root.templateDir+'loader.html'"></div>
  <div ng-if='detail.data' layout="column">
      <div ng-hide="detail.data.id"> No data... </div>

  <div layout-gt-md="row" layout="column">

<!-- MAKE RESPONSIVE -->
   <div flex="70" class="right-pad" ng-if="detail.data.id">

<!--
      <div>
        <span>
        <b>Fête</b>: {{detail.refinedData["Fête"]["Titre abrégé"]}}
        <br>
        <b>Source</b>: {{detail.refinedData["Source"]["Titre abrégé"]}}
        <br>
        <b>Extrait</b>: {{detail.refinedData["Extrait"]["Numero de l'extrait"]}}
        </span>
        <br>
        <b>Page</b>: {{detail.refinedData["Extrait"]["Numero de page de l'extrait"]}}
        </span>
      </div>
-->

      <div layout="row">
          <md-content flex="30" layout="row" layout-padding layout-align="center center">
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.first_page.page}}"
                ng-if="detail.first_page && !detail.first_page.current
                    && detail.first_page.id != detail.previous_page.id"
                ui-sref="public.details({id: detail.first_page.id})">
                <i class="material-icons">skip_previous</i>

            </a>
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.previous_page.page}}"
                ng-if="detail.previous_page && !detail.previous_page.current"
                ui-sref="public.details({id: detail.previous_page.id})">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
          </md-content>
          <div flex="40" layout-align="center center" style="text-align:center;">
              <div ng-if="!detail.pages">
                <i>
                    Date de la page manquante...
                </i>
              </div>
              <md-input-container
                style="min-width:200px;"
                ng-if="detail.pages && detail.pagesElements > 0">
                <label>choisissez la page</label>
                <md-select ng-model="detail.page"
                    md-on-close="detail.changePage()" >
                  <md-optgroup label="pages">
                    <!-- <md-option ng-value="">-</md-option> -->
                        <!-- {{item.name}} ({{item.page}}) -->
                    <md-option ng-value="item.id" ng-repeat="item in detail.pages" >
                        {{item.page}}
                        <!--
                        ( {{item.name}} )
                        -->
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
          </div>
          <md-content flex="30" layout="row" layout-padding layout-align="center center">
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.next_page.page}}"
                ng-if="detail.next_page && !detail.next_page.current"
                ui-sref="public.details({id: detail.next_page.id})">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
            <a href layout="row" layout-align="center center"
                tooltipped data-position="bottom" data-delay="50"
                data-tooltip="{{detail.last_page.page}}"
                ng-if="detail.last_page && !detail.last_page.current
                    && detail.last_page.id != detail.next_page.id"
                ui-sref="public.details({id: detail.last_page.id})">
                <i class="material-icons">skip_next</i>
            </a>
          </md-content>
      </div>

      <div layout="row" style="min-width: 200px;">

    <!-- NO IMAGE? -->
        <div flex=100 style="text-align: center; padding-top:50px;"
            ng-if="!detail.data.images[0].filename">
            <i class="material-icons">collections</i>
            <br>
            image indisponible
        </div>

    <!-- WITH IMAGE? -->
        <div flex=50 style="text-align: center;"
            ng-if="detail.data.images[0].filename">
            <a href="/zoom/{{ detail.data.id }}/{{ detail.data.images[0].code }}"
                target="_blank" class="hoverable" >
             <img tooltipped data-position="right" data-delay="50"
                data-tooltip="Cliquez pour agrandir cette image"
                style="
                height: 500px; max-width: 300px;
                "
                ng-src="/static/uploads/{{detail.data.images[0].filename}}">
            </a>
        </div>

        <!-- IMAGE TEXT -->
        <div flex=50 style="min-width: 200px;"
            ng-if="detail.data.images[0].filename"
        class="scrolling" layout="column" layout-align="start center">

            <div ng-if="detail.languages.length > 1">
              <md-input-container>

                <!-- <label>Languages</label> -->

                <md-select
                    aria-label="languages"
                    ng-model="detail.selected_language"
                    md-on-close="detail.selectLanguage()" >
                  <md-optgroup label="Langues">
                    <md-option ng-value="item"
                        ng-repeat="item in detail.languages"
                        >{{item}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>

            <!-- CONTENT -->
            <div style="padding-right: 20px;"
                ng-dblclick="detail.sideLex('open')"
                ng-bind-html="detail.current_text"
                ></div>
        </div>
<!-- IMAGE TEXT -->
     </div>

  </div> <!-- END OF 70 -->

<!-- MAKE RESPONSIVE -->
  <div flex="30" layout="column" layout="center end"
    class="rounder details-pad">
    <table class="topalign smalltexttable">
     <thead> <tr> <td colspan="2">
        <div ng-if="detail.logged" layout="row">
          <div flex="40" layout="row">
            <div class="left-pad">
                <a ui-sref="logged.submit({id: theid})" class="btn btn-floating">
                    <i class="material-icons" data-position="down"
                        data-tooltip="Modify this record" tooltipped>edit</i>
                </a>
            </div>

            <div class="left-pad"
                ng-if="detail.data.images[0].filename"
                flow-init="detail.config"
                flow-file-added="detail.adding($file, $event, $flow)"
                flow-files-submitted="$flow.upload()"
                flow-file-error="detail.fileError($file, $message)"
                flow-file-success="detail.changeImage($file, options)" >
               <span
                   class="btn btn-floating"
                   tooltipped data-position="down" data-tooltip="Change current image"
                    flow-btn
                   >
                   <i class="material-icons"> change_history </i>
               </span>
            </div>
            <div class="left-pad">
                <a ui-sref="logged.remove({id: theid})" class="btn btn-floating">
                    <i class="material-icons" data-position="down"
                        data-tooltip="Delete this record" tooltipped>delete</i>
                </a>
            </div>
          </div>
          <div flex="60"> <h4> Métadonnées </h4> </div>
        </div>

        </td> </tr> </thead>
        </table>

<md-tabs md-selected="detail.tabIndex">


  <md-tab id="tab1">
      <md-tab-label>SOURCE</md-tab-label>
      <md-tab-body>

    <table class="topalign smalltexttable">
      <tbody ng-init="key3='Source'">
        <tr ng-init="field22='Titre'"
            ng-show='detail.refinedData[key3][field22]'>
          <th> {{ field22 }} </th>
          <td>
            <a ui-sref="public.list({
                    name: currentFete,
                    book: detail.parties[currentFete].indexOf(currentSource)
                })">
              <i> <b> {{detail.refinedData[key3][field22]}} </b> </i>
            </a>
          </td>
        </tr>
        <tr>
           <th> Titre abrégé </th>
           <td>
                {{detail.refinedData["Source"]["Titre abrégé"]}}
           </td>
        </tr>
        <tr ng-init="field21='Type de source'"
            ng-show='detail.refinedData[key3][field21]'>
          <th> {{ field21 }} </th>
          <td> {{detail.refinedData[key3][field21]}} </td>
        </tr>
        <tr ng-init="field22bis='Lieu d' + quote + 'édition'"
            ng-show='detail.refinedData[key3][field22bis]'>
          <th> {{ field22bis }} </th>
          <td> {{detail.refinedData[key3][field22bis]}} </td>
        </tr>
        <tr ng-init="field23='Noms'"
            ng-show='detail.refinedData[key3][field23]'>
          <th> {{ field23 }} </th>
          <td> {{detail.refinedData[key3][field23]}} </td>
        </tr>
        <tr ng-init="field24='Edition'">
          <th> Date </th>
<!-- TO FIX -->
          <td ng-init="tmp='Lieu d' + quote + 'édition'">
          {{detail.refinedData[key3][tmp]}}<span
            ng-if="detail.refinedData[key3][tmp]"
            >,</span>
          {{detail.refinedData[key3]["Année"]}} </td>
        </tr>
        <tr ng-init="field25='Format'">
          <th> {{ field25 }} </th>
          <td ng-init="tmp='Nombre d' + quote + 'illustrations'">
            {{detail.refinedData[key3]["Dimensions"]}}<span
            ng-if="detail.refinedData[key3]['Dimensions']"
            >;</span>
            {{detail.refinedData[key3]["Nombre de pages/folio"]}}<span
            ng-if="detail.refinedData[key3]['Nombre de pages/folio']
            && detail.refinedData[key3][tmp]"
            >;</span>
            {{detail.refinedData[key3][tmp]}}
          </td>
        </tr>
        <tr ng-init="field26='Cote'"
            ng-show='detail.refinedData[key3][field26]'>
          <th> Lieu de conservation </th>
          <td> {{detail.refinedData[key3][field26]}} </td>
        </tr>
        <tr ng-init="field26bis='Liens'"
            ng-show='detail.refinedData[key3][field26bis]'>
          <th> {{ field26bis }} </th>
          <td>
            <a target='_blank' style="color: blue;"
                href="{{detail.refinedData[key3][field26bis]}}">
                {{detail.link}}
            </a>
          </td>
        </tr>
        <tr ng-init="field27='Notes'"
            ng-show='detail.refinedData[key3][field27]'>
          <th> {{ field27 }} </th>
          <td> {{detail.refinedData[key3][field27]}} </td>
        </tr>
      </tbody>

    </table>
      </md-tab-body>
    </md-tab>



  <md-tab id="tab2" ng-if="detail.detailExist">
      <md-tab-label>DÉTAILS</md-tab-label>
      <md-tab-body>
    <table class="topalign smalltexttable">

     <tbody ng-init="key='Détails'"
          ng-dblclick="detail.sideLex('open')">
        <tr ng-init="field1='Personnages'"
            ng-show='detail.refinedData[key][field1]'>
          <th> {{ field1 }} </th>
          <td> {{detail.refinedData[key][field1]}} </td>
        </tr>
        <tr ng-init="field2='Temps'"
            ng-show='detail.refinedData[key][field2]'>
          <th> {{ field2 }} </th>
          <td> {{detail.refinedData[key][field2]}} </td>
        </tr>
        <tr ng-init="field3='Actions'"
            ng-show='detail.refinedData[key][field3]
            || detail.refinedData[key][field3 + " libres"]'>
          <th> {{ field3 }} </th>
          <td>
            {{detail.refinedData[key][field3]}}<span
                ng-if="detail.refinedData[key][field3] && detail.refinedData[key][field3 + ' libres']">,</span>
            {{detail.refinedData[key][field3 + ' libres']}}
          </td>
        </tr>
        <tr ng-init="field4='Apparato'"
            ng-show='detail.refinedData[key][field4]
            || detail.refinedData[key][field4 + " libre"]'>
          <th> {{ field4 }} </th>
          <td>
            {{detail.refinedData[key][field4]}}<span
                ng-if="detail.refinedData[key][field4] && detail.refinedData[key][field4 + ' libres']">,</span>
            {{detail.refinedData[key][field4 + ' libre']}}
          </td>
        </tr>
      </tbody>

      </table>
      </md-tab-body>
  </md-tab>


  <md-tab id="tab3">
      <md-tab-label>FÊTE</md-tab-label>
      <md-tab-body  style="min-height: 250px;">

    <table class="topalign smalltexttable">
      <tbody ng-init="key2='Fête'">
        <tr ng-init="field11='Titre abrégé'"
            ng-show='detail.refinedData[key2][field11]'>
          <th> Fête </th>
          <td> {{detail.refinedData[key2][field11]}} </td>
        </tr>
        <tr ng-init="field12='Date'"
            ng-show='detail.refinedData[key2][field12]'>
          <th> {{ field12 }} </th>
          <td>
            <span ng-if='detail.refinedData.date'>
            {{
            detail.refinedData[key2]["Date de début de la fête"]
            | date:'dd/MM'
            }}
            -
            {{
            detail.refinedData[key2]["Date de la fin de la fête"]
            | date:'dd/MM'
            }}
            /
            </span>
            {{detail.refinedData[key2][field12]}}
            </td>
        </tr>
        <tr ng-init="field13='Lieu'"
            ng-show='detail.refinedData[key2][field13]'>
          <th> {{ field13 }} </th>
          <td> {{detail.refinedData[key2][field13]}} </td>
        </tr>
        <tr ng-init="field14='Notes'"
            ng-show='detail.refinedData[key2][field14]'>
          <th> {{ field14 }} </th>
          <td> {{detail.refinedData[key2][field14]}} </td>
        </tr>

      </tbody>
      </table>
      </md-tab-body>
  </md-tab>



  <md-tab id="tab4"
       ng-if='detail.refinedData[key2][field31]'>
      <md-tab-label>AUTRES SOURCES LIEES</md-tab-label>
      <md-tab-body>
    <table class="topalign smalltexttable">

      <tbody ng-init="field31='Sources'"
           ng-show='detail.refinedData[key2][field31]'>
        <tr>
          <td colspan="2"> {{detail.refinedData[key2][field31]}} </td>
        </tr>
      </tbody>

    </table>
      </md-tab-body>
    </md-tab>




  <md-tab id="tab5"
           ng-if='detail.refinedData[key2][field31]'>
      <md-tab-label>DÉTAILS DE LA FÊTE</md-tab-label>
      <tbody
           ng-show='detail.refinedData[key2][field31]'>
        <tr>
          <td colspan="2"> {{detail.refinedData[key2][field31]}} </td>
        </tr>
      </tbody>

    </table>
      </md-tab-body>
  </md-tab>
  </md-tabs>

   </div> <!-- END OF 30 -->
  </div> <!-- END OF COLUMN -->

 </div> <!-- END OF DATA -->

<!-- LEXIQUE SIDEBAR -->
 <section layout="row" >
   <md-sidenav class="md-sidenav-right" md-component-id="right"
          style="overflow-y: hidden; width: 410px;"
          md-disable-backdrop md-whiteframe="4" >

      <md-content flex>
       <md-toolbar  layout="column" class="blue-grey">
        <h1 class="md-toolbar-tools">
            <div flex="90">
                Index
            </div>
            <div flex="10" style="text-align: right;">
                <a href ng-click="detail.sideLex('close')">
                  <i class="material-icons">close</i>
                </a>
            </div>
        </h1>
       </md-toolbar>
       <div layout="row" layout-padding layout="center center">
           <md-input-container flex=40>
              <label>Recherche par mot</label>
              <input type="text"
                ng-model="detail.lexvar" ng-change="findLex()"
                ng-focus="detail.catvar = ''; findLex()"
                    focus-on="focusMe"/>
           </md-input-container>
           <div flex=10></div>
           <md-input-container flex=40>
              <label>Recherche par catégorie</label>
              <input type="text"
                ng-model="detail.catvar" ng-change="findLex()"
                ng-focus="detail.lexvar = ''"/>
           </md-input-container>
       </div>
      </md-content>

      <md-content layout-padding
        style="overflow-y: scroll; height: 100%; width: 350px;">
          <md-list class="md-dense" flex>

    <div ng-if="lexlen == 0">
        ...
    </div>

    <div >
    <!--
        <div ng-if="lexlen === null">
            loading...
        </div>
    -->

        <div ng-repeat="lex in lexers">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text" layout="column">
                <h3>
                <!--titre:-->
                  <b>
                    <a ui-sref="public.fastsearch({text: single})"
                        ng-repeat="single in splitter(lex._source.titre)">
                        {{single}}
                    </a>
                  </b>
                </h3>
                <h4 ng-if="lex._source['français']">
                    français:
                    <a ui-sref="public.fastsearch({text: single})"
                        ng-repeat="single in splitter(lex._source['français'])">
                        {{single}}
                    </a>
                </h4>
                <h4 ng-if="lex._source.latin">
                    latin:
                    <a ui-sref="public.fastsearch({text: single})"
                        ng-repeat="single in splitter(lex._source.latin)">
                        {{single}}
                    </a>
                </h4>
                <h4 ng-if="lex._source.italien">
                    italien:
                    <a ui-sref="public.fastsearch({text: single})"
                        ng-repeat="single in splitter(lex._source.italien)">
                        {{single}}
                    </a>
                </h4>
                <br>
                <h4>
                 <i>
                  <span>
                    <a href ng-click="detail.lexvar = ''; detail.catvar = lex._source.sheet; findLex()">
                        {{lex._source.sheet}}
                    </a>
                  </span>

                  <span ng-if="lex._source.macro != '-'">
                    &gt;
                    <a href ng-click="detail.lexvar = ''; detail.catvar = lex._source.macro; findLex()">
                        {{lex._source.macro}}
                    </a>
                  </span>

                  <span ng-if="lex._source.macro != '-'">
                    &gt;
                    <a href ng-click="detail.lexvar = ''; detail.catvar = lex._source.micro; findLex()">
                        {{lex._source.micro}}
                    </a>
                  </span>
                 </i>
                </h4>
                <br>
              </div>
            </md-list-item>

            <md-divider ></md-divider>
            <br>

        </div>
    </div>

          </md-list>
      </md-content>
    </md-sidenav>

</section>

</div> <!-- TOAST END -->
</div> <!-- MAIN CONTROLLER END -->
