
<md-content ng-controller="ExploreController as exp">

 <div ng-if='data' class="row z-depth-2">
  <md-tabs
    md-dynamic-height md-border-bottom
    md-swipe-content md-center-tabs
    md-selected='exp.selectedTab'
    >

    <md-tab label="Missing transcriptions" md-on-select="exp.onTabSelected('transfix')">
      <md-content class="md-padding">
        <div ng-include="root.blueprintTemplateDir + 'fixtrans.html'"></div>
      </md-content>
    </md-tab>

    <md-tab label="Missing images" md-on-select="exp.onTabSelected('imagefix')">
      <md-content class="md-padding">
        <div ng-include="root.blueprintTemplateDir + 'fiximages.html'"></div>
      </md-content>
    </md-tab>

    <md-tab label="Fêtes" md-on-select="exp.onTabSelected()">
      <md-content class="md-padding">
        <div ng-include="root.blueprintTemplateDir + 'steplist.html'"></div>
      </md-content>
    </md-tab>

    <md-tab label="Exposition" md-on-select="exp.onTabSelected()">
      <md-content class="md-padding">
<!--
        <div ng-include="root.blueprintTemplateDir + 'exposition.html'" style="width: 600px;"></div>
-->
        <i class="material-icons">error_outline</i>
        <br>
        Work in progress
      </md-content>
    </md-tab>

  </md-tabs>
 </div>

</md-content>
