<div ng-controller="ExpoSingleSection as single"
    layout="row" layout-padding layout-align='center center'>

    <div flex="90" layout="row" class="grey lighten-1" 
        layout-padding layout-align='start stretch'>

        <!-- Zooming image -->
        <div>
            <iframe ng-src="{{current_element_uri}}"
                width="600" height="600"></iframe>
            <br>
           <md-button ng-href="{{current_element_uri}}" target="_blank">
                montrer plein écran
           </md-button>
        </div>
        <!-- Description -->
        <div>
            <br>
            <div ng-repeat="(key, value) in single.details_fields" >
                <div ng-if="key != 'date' && key != 'lieu' && single.element.details[key]" >
                    <b>{{key.capitalizeFirstLetter()}}</b>
                    <br>
                    {{single.element.details[key]}}
                </div>
                <div ng-if="value.space"> <br> </div>
            </div>
        </div>

    </div>

</div>
