
<div layout="row" layout-padding
    layout-align='center center'>

  <nav class="grey darken-1" flex="90" >
    <div class="nav-wrapper" style='margin-left: 30px;'>

      <div class="column" ng-if="!current_image">
        <a ui-sref="public.expo" class="breadcrumb">EXPO</a>
        <a ui-sref="public.expo.themes"
            class="breadcrumb">PAR SECTIONS </a>
        <a ng-if="current_section"
            ui-sref="public.expo.themes.selected({section: current_section})"
            class="breadcrumb">
            {{current_section}} </a>
        <a ng-if="current_theme"
            ui-sref="public.expo.themes.selected.theme(
            {section: current_section, theme: current_theme})"
            class="breadcrumb">
            {{current_theme}} </a>
<!--
        <a ng-if="current_image"
            nohref class="breadcrumb">
            TOFIX: '{{current_image_short}}' </a>
-->
      </div>
      <div ng-if="current_image">
        <a
            ui-sref="public.expo.themes.selected.theme(
            {section: current_section, theme: current_theme})"
            class="breadcrumb">
            <i class="material-icons prefix">arrow_back</i>
               RETOUR EXPOSITION </a>
      </div>
    </div>
  </nav>

</div>


<div ui-view="themes">

  <div ng-controller="ExpoSections as exsections"
    layout="row" layout-align='center stretch' layout-padding>

    <div ng-if="keylen(sections) < 1">
        <br>
        <i>
        No sections defined yet.
        </i>
    </div>

    <div ng-if="keylen(sections) > 0" flex="30"
        ng-repeat="(key, value) in sections"
        ng-mouseenter="value.select = true" ng-mouseleave="value.select = value.open">

        <div style="position: relative;">
          <a ui-sref="public.expo.themes.selected({section: key})">
          <div class="thumbnail">
              <img ng-src="{{root.imagesPath + value.cover}}">
          </div>
            <div style="position: absolute; top: 0; background-color: #0f243d;
                width: 100%; height: 30%; opacity: .5; z-index:2;"></div>
            <div style="text-align:center; position: absolute; top: 0;
                padding-left: 1%; color: white; width: 100%; z-index:3;">
                <h4 class="header" style="font-family: Leela;"> {{key}} </h4>
            </div>
          </a>
        </div>

        <div style="width: 100%; text-align: right;
        min-height: 35px; max-height: 35px;" >
          <md-input-container ng-if="value.select">
            <label> sélectionnez la chambre </label>
            <md-select ng-model="value.current_theme"
                md-on-open="value.open = true;"
                md-on-close="value.open = false; selectTheme(key, value)" >
              <md-optgroup label="themes">
                <md-option ng-value="item"
                ng-repeat="item in sectionsAndThemes[key]"
                    >{{item}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

    </div>

  </div>

    <div layout="row" layout-align='center stretch' layout-padding>
        <div flex="90" ng-bind-html="descriptions.parsections | textToHtml"></div>
    </div>
</div>

