<div
    layout="column" layout-padding layout-align='center center'>

  <nav class="grey" flex="70" style="padding-left: 50px;">
    <div class="nav-wrapper">
      <div class="column">
        <a ui-sref="public.expo" class="breadcrumb">EXPO</a>
        <a ui-sref="public.expo.pieces"
            class="breadcrumb">PAR OEUVRES</a>
        <a ng-if="current_image" class="breadcrumb">
            image: '{{current_image}}' </a>
      </div>
    </div>
  </nav>

    <div ui-view="images">

      <div ng-controller="ExpoSingleSection as source">

        <md-grid-list
            layout-padding
            md-cols="4" md-row-height="fit"
            style="width: 800px; height: 800px">

            <md-grid-tile ng-repeat="(uuid, element) in source.images">

              <div>
                <a ui-sref="public.expo.pieces.image({position: uuid})">
                    <img src="{{ root.imagesPath + element.file
                                +'/TileGroup0/0-0-0.jpg' }}" width="80" >
                </a>
                <br>
                <small> {{element.details.date || '-'}} </small>

              </div>

            </md-grid-tile>

        </md-grid-list>
      </div>
    </div>

</div>
