<div ng-controller="ExpoSingleSection as single"
    layout="row" layout-align='center center'>

      <!-- <h3> Theme {{current_theme}} </h3> -->
  <div flex="80" >

    <div ng-repeat="(position, data) in sections[current_section][current_theme]"
        ng-if="data.thumb"
        layout="row" layout-padding>
      <div flex="40">
        <a ui-sref="public.expo.themes.selected.theme.image(
          {section: current_section, theme: theme, element: position})">
        <div ng-style=" {'background-image':
            'url(' + root.imagesPath + data.thumb +'.medium.jpg' + ')'}"
            style="z-index: 1; min-height: 250px; min-width: 250px;
            background-size: contain; background-repeat: no-repeat;
            background-position: center; background-color: white; " >
        </div>
        </a>
        <span class="grey-text text-darken-1">
            {{data.details['auteur(s)']}}
            ...
            {{data.details['date']}}
            <!-- {{data.details['date et lieu de réalisation']}} -->
        </span>
      </div>
      <div flex="60">
        {{data.details.texte}}
      </div>
    </div>

  </div>
</div>
