<div ng-controller="ExpoSingleSection as single"
    layout="row"
    layout-padding layout-align='center center'>

    <div flex="80" >
        <h3>
            Section {{current_section}}
        </h3>

          <md-input-container ng-if="single.themes.length > 1">
            <label>Select a theme...</label>
            <md-select ng-model="single.current_theme"
                md-on-close="single.selectTheme()" >
              <md-optgroup label="themes">
                <md-option ng-value="item" ng-repeat="item in single.themes"
                    >{{item}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

        <div ng-if="theme != 'cover'"
            ng-repeat="(theme, paintings) in sections[current_section]"
            layout="column" layout-padding layout-align="center center">

            <h5>
                <hr>
                <b>
                <!-- Theme: -->
                <a ui-sref="public.expo.themes.selected.theme(
                    {section: current_section, theme: theme})">
                {{theme}}
                </a>
                </b>
            </h5>

            <div ng-repeat="(position, data) in paintings"
            layout="column" layout-align="center center">
              <div>
                <a ui-sref="public.expo.themes.selected.theme.image({section: current_section, theme: theme, element: position})">
                    <img src="{{ root.imagesPath + data.thumb +'/TileGroup0/0-0-0.jpg' }}" width="200" >
                </a>
              </div>
              <div>
                {{data.details.title}}
              </div>
              <br>
            </div>
        </div>
    </div>

</div>
