<div
    layout="column" layout-padding layout-align='center center'>

  <nav class="grey" flex="70" style="padding-left: 50px;">
    <div class="nav-wrapper">
      <div class="column">
        <a ui-sref="public.expo" class="breadcrumb">EXPO</a>
        <a ui-sref="public.expo.pieces"
            class="breadcrumb">PAR OEUVRES</a>
        <a ng-if="current_image" class="breadcrumb">
            image: '{{current_image}}' </a>
      </div>
    </div>
  </nav>

    <div ui-view="images">

      <div ng-controller="ExpoSingleSection as source">
      <br>

        <md-grid-list
            md-cols="4" md-row-height="fit"
            layout-padding
            style="width: 1000px; height: 1800px"
            >

            <md-grid-tile ng-repeat="(uuid, element) in source.images">
                <a ui-sref="public.expo.pieces.image({position: uuid})">
            <div flex="grow"
                ng-style=" {'background-image':
                'url(' + root.imagesPath + element.file +'.small.jpg' + ')'}"
                style="min-height: 190px; min-width: 190px;
                background-size: contain; background-repeat: no-repeat;
                background-position: center; background-color: white; " >
            </div>
                </a>

            <md-grid-tile-footer>
            <b>
                {{element.details['auteur(s)']}}
                ...
                {{element.details['date']}}
            </b>
            </md-grid-tile-footer>

        <!--{{element.details['date et lieu de réalisation'] || '-'}}-->


            </md-grid-tile>

        </md-grid-list>
      </div>
    </div>

</div>
