<div ng-controller="ExpoSingleSection as single"
    layout="column" layout-align='center center'>

    <div layout="column" layout-align="center center">
       <md-card ng-repeat="(position, data) in sections[current_section][current_theme]">
    <br>

          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead">
                {{data.details.title}}
              </span>
            </md-card-title-text>
          </md-card-title>

        <md-card-content>
            <a ui-sref="public.expo.themes.selected.theme.image({section: current_section, theme: current_theme, element: position})">
                <img src="{{ root.imagesPath + data.thumb +'/TileGroup0/0-0-0.jpg' }}" width="200" >
            </a>
        </md-card-content>
       </md-card>
    </div>
</div>