<div ng-controller="ExpoSingleSection as single"
    layout="row"
    layout-padding layout-align='center center'>

    <div flex="80" >

<!-- COVER -->
    <div style="position: relative;" ng-cloak>

          <div class="thumbnail" style="z-index:1;" ng-if="single.sections[current_section]['cover']" >
              <img ng-src="{{root.imagesPath + single.sections[current_section]['cover']}}">
          </div>
        <div style="position: absolute; top: 0px; background-color: #0f243d;
            width: 100%; height: 80px; opacity: .5; z-index:2;">
            </div>
        <div style=" position: absolute; top: 0px; text-align: center;
            padding-left: 1%; color: white; width: 100%; z-index:3;">
            <h3 class="header" style="font-family: Leela;">
                {{current_section | uppercase}}
            </h3>
        </div>
    </div>

<!-- DESCRIPTION -->
    <div ng-bind-html="descriptions[current_section] | textToHtml"></div> <br>

        <div ng-if="theme != 'cover' && theme != 'select'
            && theme != 'open' && theme != 'current_theme'"
            ng-repeat="(theme, paintings) in sections[current_section]"
            layout="column">

            <!-- Theme name: -->
            <a class="black-text" ui-sref="public.expo.themes.selected.theme(
                {section: current_section, theme: theme})">
                <h5>
                    {{theme}}
                </h5>
            </a>

            <!-- Theme images: -->
            <div
                ng-repeat="(position, data) in paintings"
                ng-if="data.thumb"
                layout="row" layout-padding>
              <div flex=40>
                <a ui-sref="public.expo.themes.selected.theme.image({section: current_section, theme: theme, element: position})">
            <div
                ng-style=" {'background-image':
                'url(' + root.imagesPath + data.thumb +'/TileGroup0/0-0-0.jpg'  + ')'}"
                style="z-index: 1; min-height: 250px; min-width: 250px;
                background-size: contain; background-repeat: no-repeat;
                background-position: center; background-color: white; " >
            </div>
                </a>
              </div>
              <div flex=60>
                {{data.details.texte}}
              </div>
              <br>
            </div>
        </div>
    </div>

</div>
