
<div ng-controller="FastSearchController as search"
    style="background-color: #fff;">

<!-- TOOLBAR -->
<form ng-submit="$event.preventDefault()"
    layout="row" layout-fill layout-wrap layout-padding layout-align="center center">
 <div flex="70" layout="column">

 <md-toolbar class="white black-text" layout="row" layout-padding flex >
      <md-autocomplete
          md-min-length="1"
          md-input-id="autoCompleteId"
          md-search-text="search.searchText"
          md-search-text-change="search.searchTextChange(search.searchText)"
          md-selected-item="search.selectedItem"
          md-selected-item-change="search.selectedItemChange(item._source.suggest)"
          md-items="item in search.querySearch(search.searchText)"
          md-item-text="item._source.suggest"
          md-menu-class="autocomplete-custom-template"
          md-delay="400"
          md-select-on-match="true"
          md-match-case-insensitive="true"
          placeholder="Recherche"
          md-require-match="false"
          flex
          >
<!-- TO FIX: autofocus not working anymore -->
        <md-item-template>
          <span layout="row" layout-align="start center">
            <!-- TYPE -->
            <span style="width: 200px;">
             <span ng-switch on="item._source.extra.cleanlabel">
              <i ng-switch-when="extrait" class="material-icons"> import_contacts </i>
              <i ng-switch-when="transcription" class="material-icons"> library_books </i>
              <i ng-switch-when="traduction" class="material-icons"> bookmark_border </i>
              <i ng-switch-default class="material-icons"> book </i>
             </span>
             &nbsp; <strong>{{item._source.label}}</strong>
            </span>
            <!-- VALUE -->
            <span
                md-highlight-text="search.searchText"
                md-highlight-flags="i"
                >{{item._source.suggest}}</span>
          </span>
        </md-item-template>
      </md-autocomplete>

<!-- COMMENT START -bug -->
    <a layout="row" layout-align="center center"
      style="font-size: 14px;"
      href ng-click="advanced = !advanced">
        <i class="material-icons" ng-if="!advanced">add</i>
        <i class="material-icons" ng-if="advanced">remove</i>
        Recherche Avancée
    </a>

<!--
    <a layout="row" layout-align="center center"
      style="font-size: 14px;"
      href ng-click="toggle()">
        <i class="material-icons" ng-if="!advanced">help</i>
        Lexique
    </a>
-->

<!-- COMMENT END -bug -->

 </md-toolbar>

<!-- COMMENT START - bug -->
<div layout="column" layout-padding>
    <md-card ng-if="advanced">
        <md-card-content class="nospaces"> Filtres:

<div ng-if="search.advancedLoader"
    ng-include="root.templateDir + 'loader.html'"></div>
<div ng-if="!search.advancedLoader" layout="row" layout-padding>

<div layout="column" flex=50 ng-cloak>

<!--
filt: {{search.filters}}
-->

<!--
  <md-input-container>
    <label>Fete</label>
    <md-select ng-model="search.filters.fete" md-on-close="search.searchTextChange()" >
      <md-optgroup label="fetes">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.fetes" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Source</label>
    <md-select ng-model="search.filters.source" md-on-close="search.searchTextChange()" >
      <md-optgroup label="sources">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.sources" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>
  -->

  <md-input-container>
    <label>Lieu</label>
    <md-select ng-model="search.filters.lieu" md-on-close="search.searchTextChange()" >
      <md-optgroup label="lieus">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.lieus" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Support</label>
    <md-select ng-model="search.filters.manuscrit" md-on-close="search.searchTextChange()" >
      <md-optgroup label="manuscrits">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.manuscrits" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

<!--
  <md-input-container>
    <label>Langue</label>
    <md-select ng-model="search.filters.langue" md-on-close="search.searchTextChange()" >
      <md-optgroup label="langues">
        <md-option ng-value="">-</md-option>
        <md-option value="français" >français</md-option>
        <md-option value="latin" >latin</md-option>
        <md-option value="italien" >italien</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>
-->


<!--
  <br>
  <br>
      <input type="checkbox" id="cb" ng-model="search.filters.gravure" />
      <label for="cb">Gravure</label>
-->

</div>
<div layout="column" flex=50>

  <md-input-container>
    <label>Temps</label>
    <md-select ng-model="search.filters.temps" md-on-close="search.searchTextChange()" >
      <md-optgroup label="temps">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.temps" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Actions</label>
    <md-select ng-model="search.filters.actions" md-on-close="search.searchTextChange()" >
      <md-optgroup label="actions">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.actions" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Apparato</label>
    <md-select ng-model="search.filters.apparato" md-on-close="search.searchTextChange()" >
      <md-optgroup label="apparato">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.apparatos" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <div layout="row" layout-align="center center">
      <label for="inputs" style="padding-right: 20px;"> Date </label>
      <md-input-container style="margin: 0px;">
        <label>De</label>
        <input type="text" ng-model="search.filters.start_date"
            ng-blur="search.searchTextChange()" placeholder='jj-mm-aaaa' size="13">
      </md-input-container>
      <md-input-container style="margin: 0px;">
        <label>À</label>
        <input type="text" ng-model="search.filters.end_date"
            ng-blur="search.searchTextChange()" placeholder='jj-mm-aaaa' size="13">
      </md-input-container>
  </div>

</div>
</div>

        </md-card-content>
        <div
            ng-if="!search.advancedLoader"
            class="md-actions" layout="row" layout-align="end end">
            <!--
           <md-button ng-click="search.cloneDate()">clone date</md-button>
           -->

           <md-button ng-click="search.clearFilters()">
               Effacer
           </md-button>
         </div>
    </md-card>
</div>

<!-- COMMENT END - bug -->

<div>
    <div ng-if="search.load" ng-include="root.templateDir + 'loader.html'"></div>
    <span ng-if="!search.load && search.elements >= 0">

        <div ng-if="rows" class="md-whiteframe-6dp"
            layout="row" layout-padding layout-align="center center">
         <div>
            Lexique:
         </div>
         <div>
          <table class="striped">
            <thead>
                <tr>
                    <th ng-repeat="field in fields"> {{field}} </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows">
                  <td ng-repeat="field in fields">
                    <span ng-if="row._source[field]"> {{row._source[field]}} </span>
                    <span ng-if="!row._source[field]"> - </span>
                  </td>
                </tr>
            </tbody>
          </table>
         </div>
        </div>

        <br>
        <b><i>Trouvés {{search.elements}} éléments</i></b>

    </span>
</div>

 </div>
</form>
<!-- TOOLBAR -->

<!-- COMMENT START - bug -->
<md-content
    class="virtualRepeatInfiniteScroll"
    flex id="inf-wrapper"
    layout="row" layout-padding layout-align="center center"
    >
    <div flex="10"></div>
    <div flex="auto">

<md-virtual-repeat-container
    ng-hide="search.extraits.hold"
    id="vertical-container">

  <h5>Resultats de la recherche:</h5>
  <md-list class="activity-feed"
    md-virtual-repeat="item in search.extraits"
    md-on-demand
    class="repeated-item" flex>

    <md-list-item>

        <md-card
        style="width: 80px; height: 130px;"
            >
         <a ui-sref='public.details({id: item._id, query:search.searchText})'>
          <div ng-if='!item._source.doc.thumbnail'
            class="searchthumb"
            ng-style="{'background-image':'url(placehold.it/110x160)'}"></div>
          <div ng-if='item._source.doc.thumbnail'
            style="background-size: 80px 130px;"

            class="searchthumb"
            ng-style="{'background-image':'url('+ item._source.doc.thumbnail +')'}"></div>
         </a>
        </md-card>

        <md-card class="nobox">
            <md-card-content class="minextrait"
                layout="column" layout-align="center center">

                <table class="nospaces bordered">
                    <tr>
                        <th>
                        ID
                        </th>
                        <td>

                  <span
                    md-highlight-text="search.searchText"
                    md-highlight-flags="i">
                    {{item._source.extrait}}
                    </span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                        Page
                        </th>
                        <td>
                    {{item._source.page}}
                        </td>
                    </tr>
                </table>

            </md-card-content>
        </md-card>
        <md-card>
            <md-card-content>
             <p>
        <i>Source</i>:
        <span md-highlight-text="search.searchText"
            md-highlight-flags="i">{{item._source.source}}</span>
        <br> <i>Fete</i>:
        <span md-highlight-text="search.searchText"
            md-highlight-flags="i">{{item._source.fete}}</span>
        <br> <i>Lieu</i>:
        <span md-highlight-text="search.searchText"
            md-highlight-flags="i">{{item._source.lieu}}</span>
        <span ng-if="item._source.date">
            <br> <i>Date</i>: {{item._source.date}}
        </span>
        <br>

             </p>
            </md-card-content>
        </md-card>

    </md-list-item>
  </md-list>
</md-virtual-repeat-container>


    </div>
</md-content>

<!-- COMMENT END - bug -->


<section layout="row" flex>
    <md-sidenav class="md-sidenav-right" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="blue-grey">
        <h1 class="md-toolbar-tools">
            Index
            <a href ng-click="toggle()">
              <i class="material-icons">close</i>
            </a>
        </h1>
      </md-toolbar>

      <md-content layout-margin>

          <md-list class="md-dense" flex>

  <md-input-container>
  <label>recherche</label>
      <input type="text" ng-model="lexvar" ng-change="findLex()"/>
  </md-input-container>

<!--
            <md-subheader class="md-no-sticky">
                search results:
            </md-subheader>
-->

            <div ng-repeat="lex in lexers">
            <md-list-item class="md-3-line">
              <div class="md-list-item-text" layout="column">
                <h3>titre:

                    <b>
                    <a href ng-click="search.searchText = lex._source.titre ">
                        {{lex._source.titre}}

                    </a>
                    </b>
                </h3>
                <h4>
                    français: {{lex._source["français"]}}
                </h4><h4>
                    latin: {{lex._source.latin}}
                </h4><h4>
                    italien: {{lex._source.italien}}
                </h4>
                <h4>
                <i>
                {{lex._source.sheet}}
                &gt; {{lex._source.macro}}
                &gt; {{lex._source.micro}}
                </i>
                </h4>
                <br>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            </div>

          </md-list>

      </md-content>

    </md-sidenav>

</section>

</div>