
<div ng-controller="FastSearchController as search"
    style="background-color: #fff;">

<!-- TOOLBAR -->
<form ng-submit="$event.preventDefault()"
    layout="row" layout-fill layout-wrap layout-padding layout-align="center center">
 <div flex="70" layout="column">
 <h4> Resultats de la <i>Recherche</i> </h4>
 <md-toolbar class="white black-text" layout="row" layout-padding flex >
      <md-autocomplete flex
          md-min-length="1"
          md-search-text="search.searchText"
          md-search-text-change="search.searchTextChange(search.searchText)"
          md-selected-item="search.selectedItem"
          md-selected-item-change="search.selectedItemChange(item._source.suggest)"
          md-items="item in search.querySearch(search.searchText)"
          md-item-text="item._source.suggest"
          md-menu-class="autocomplete-custom-template"
          md-delay="300" md-select-on-match="false"
          placeholder="Recherche"
          md-autofocus
          >
        <md-item-template>
          <span layout="row" layout-align="start center">
            <!-- TYPE -->
            <span style="width: 200px;">
             <span ng-switch on="item._source.extra.cleanlabel">
              <i ng-switch-when="extrait" class="material-icons"> import_contacts </i>
              <i ng-switch-when="transcription" class="material-icons"> library_books </i>
              <i ng-switch-when="traduction" class="material-icons"> bookmark_border </i>
              <i ng-switch-default class="material-icons"> book </i>
             </span>
             &nbsp; <strong>{{item._source.label}}</strong>
            </span>
            <!-- VALUE -->
            <span
                md-highlight-text="search.searchText"
                md-highlight-flags="i"
                >{{item._source.suggest}}</span>
          </span>
        </md-item-template>
      </md-autocomplete>

    <a layout="row" layout-align="center center"
      style="font-size: 14px;"
      href ng-click="advanced = !advanced">
        <i class="material-icons" ng-if="!advanced">add</i>
        <i class="material-icons" ng-if="advanced">remove</i>
        Advanced Search
    </a>

 </md-toolbar>

<div layout="column" layout-padding>
    <md-card ng-if="advanced">
        <md-card-content class="nospaces"> Filters:

<div ng-if="search.advancedLoader"
    ng-include="root.templateDir + 'loader.html'"></div>
<div ng-if="!search.advancedLoader" layout="row" layout-padding>

<div layout="column" flex=50 ng-cloak>

  <md-input-container>
    <label>Fete</label>
    <md-select ng-model="search.filters.fete" md-on-close="search.searchTextChange()" >
      <md-optgroup label="fetes">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.fetes" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Source</label>
    <md-select ng-model="search.filters.source" md-on-close="search.searchTextChange()" >
      <md-optgroup label="sources">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.sources" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Lieu</label>
    <md-select ng-model="search.filters.lieu" md-on-close="search.searchTextChange()" >
      <md-optgroup label="lieus">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.lieus" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Manuscrit</label>
    <md-select ng-model="search.filters.manuscrit" md-on-close="search.searchTextChange()" >
      <md-optgroup label="manuscrits">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.manuscrits" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

</div>
<div layout="column" flex=50>
  <md-input-container>
    <label>Apparato</label>
    <md-select ng-model="search.filters.apparato" md-on-close="search.searchTextChange()" >
      <md-optgroup label="apparato">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.apparatos" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Actions</label>
    <md-select ng-model="search.filters.actions" md-on-close="search.searchTextChange()" >
      <md-optgroup label="actions">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.actions" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <md-input-container>
    <label>Temps</label>
    <md-select ng-model="search.filters.temps" md-on-close="search.searchTextChange()" >
      <md-optgroup label="temps">
        <md-option ng-value="">-</md-option>
        <md-option ng-value="item" ng-repeat="item in ::search.base.temps" >{{item}}</md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>

  <div layout="row" layout-align="center center">
      <label for="inputs" style="padding-right: 20px;"> Date range </label>
      <md-input-container style="margin: 0px;">
        <label>From</label>
        <input type="text" ng-model="search.filters.start_date"
            ng-blur="search.searchTextChange()" placeholder='gg-mm-aaaa' size="13">
      </md-input-container>
      <md-input-container style="margin: 0px;">
        <label>To</label>
        <input type="text" ng-model="search.filters.end_date"
            ng-blur="search.searchTextChange()" placeholder='gg-mm-aaaa' size="13">
      </md-input-container>
  </div>

</div>
</div>

        </md-card-content>
        <div
            ng-if="!search.advancedLoader"
            class="md-actions" layout="row" layout-align="end end">
           <md-button ng-click="search.cloneDate()">clone date</md-button>
           <md-button ng-click="search.clearFilters()">clear filters</md-button>
         </div>
    </md-card>
</div>


<div>
    <div ng-if="search.load" ng-include="root.templateDir + 'loader.html'"></div>
    <span ng-if="!search.load && search.elements >= 0">

        <div ng-if="rows" class="md-whiteframe-6dp"
            layout="row" layout-padding layout-align="center center">
         <div>
            Lexique:
         </div>
         <div>
          <table class="striped">
            <thead>
                <tr>
                    <th ng-repeat="field in fields"> {{field}} </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in rows">
                  <td ng-repeat="field in fields">
                    <span ng-if="row._source[field]"> {{row._source[field]}} </span>
                    <span ng-if="!row._source[field]"> - </span>
                  </td>
                </tr>
            </tbody>
          </table>
         </div>
        </div>

        <br>
        <b><i>Trouvés {{search.elements}} éléments</i></b>

    </span>
</div>

 </div>
</form>
<!-- TOOLBAR -->

 <md-content layout="row" layout-padding ng-if="!search.load">
  <div flex='10'>&nbsp;</div>
  <div flex='80' ui-scroll-viewport style=" height: 700px; ">

  <table class='highlight'>
   <thead ng-if="search.elements > 0" >
    <tr>
        <th>Vignette</th>
        <th>Extrait</th>
        <th>Détails</th>
    </tr>
   </thead>
   <tbody>
    <tr ui-scroll="row in datasource" adapter="myadapter">
      <td>
        <a ui-sref='public.details({id: row._id, query:search.searchText})'>
         <div ng-if='!row._source.doc.thumbnail'
            style=" background-repeat: no-repeat; background-size: 100% 100%;
                width: 130px; height: 160px;"
            ng-style="{'background-image':'url(http://placehold.it/110x160)'}"></div>
         <div ng-if='row._source.doc.thumbnail'
            style=" background-repeat: no-repeat; background-size: 100% 100%;
                width: 130px; height: 160px;"
            ng-style="{'background-image':'url('+ row._source.doc.thumbnail +')'}"></div>
        </a>
      </td>
      <td style="width: 200px;">
            <strong>
              <span
                md-highlight-text="search.searchText"
                md-highlight-flags="^i">{{row._source.extrait}}</span>
            </strong> </td>
      <td>
        <i>Source</i>:
        <span md-highlight-text="search.searchText"
            md-highlight-flags="^i">{{row._source.source}}</span>
        <br>
        <i>Fete</i>:
        <span md-highlight-text="search.searchText"
            md-highlight-flags="^i">{{row._source.fete}}</span>
        <span>
            <br> <i>Lieu</i>: {{row._source.lieu}}
        </span>
        <span ng-if="row._source.date">
            <br> <i>Date</i>: {{row._source.date}}
        </span>
        <br>
      </td>
     </tr>
    </tbody>
   </table>
  </div>
 <div flex='10'>&nbsp;</div>
 </md-content>


</div>
