
<div ng-controller='ToastController as toasting'>
 <div ng-controller="FixTransController as fix"
    layout="row" layout-align="center start"
    style="padding-top: 20px; padding-bottom: 20px;">

    <div ng-if="!transcripts">
        <div ng-include="root.templateDir + 'loader.html'"></div>
    </div>

    <div ng-if="transcripts"
        flex-xs flex-gt-xs="40" layout="column">
     <div ng-if="transcriptsElements == 0">
        No data available
     </div>

<!--
     <div ng-if="transcriptsElements > 0">
        Note:
        Only records with <b>at least one image</b> uploaded will be listed.
     </div>
-->

     <md-list>
      <div ng-repeat="(transc, data) in transcripts track by $index">
          <md-divider></md-divider>
          <md-list-item class="md-2-line"
              ng-click="fix.noImageList(transc, data)">
            <div class="md-list-item-text" layout="column">
              <h3>{{transc}}</h3>
              <p> Elements: <b>{{data.length}}</b> </p>
            </div>
          </md-list-item>
      </div>
     </md-list>
    </div>

    <div flex-xs flex-gt-xs="60" layout="column" ng-if="fix.elements">

<!-- SINGLE ELEMENT -->
     <md-card ng-if="fix.currentText">
       <md-card-content>
          <div ng-include="root.blueprintTemplateDir + 'transcription.html'"></div>
       </md-card-content>
     </md-card>

<!-- LIST -->
     <md-card ng-if="!fix.currentText">
      <md-card-title>
        <md-card-title-text>
            <h5>{{fix.currentParty}}</h5>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <table class="table table-hover">
          <tbody>
            <tr ng-repeat="element in fix.elements">
             <td> {{element.value}} </td>

             <td> <a href
                 ng-click="fix.transcriptionDialog(element.record, element.value)"
                 class="waves-effect waves-light btn lime">
                    transcript </a> </td>
             <td> <a href
                 ng-click="fix.translationDialog(element.record, element.value)"
                 class="waves-effect waves-light btn lime lighten-1">
                    translate </a> </td>

             <td> <a ui-sref='public.fastsearch({text: element.value})'
           tooltipped data-position="down" data-delay="50"
           data-tooltip="Search this record"
                 class="waves-effect waves-light btn-floating lime lighten-3">
                   <i class="material-icons blue-grey-text"> youtube_searched_for </i> </a>
             </td>
             <td> <a ui-sref='public.details({id: element.record})'
           tooltipped data-position="up" data-delay="50"
           data-tooltip="View details of this record"
                 class="waves-effect waves-light btn-floating lime lighten-3">
                   <i class="material-icons blue-grey-text">web</i> </a>
             </td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
      <md-card-actions layout="row" layout-align="start center">
        <md-button ng-click="fix.closeCard()"> Close </md-button>
      </md-card-actions>
     </md-card>


    </div>

 </div>
</div>
