<div ng-controller="NonController" >
  <md-content
    layout="column" layout-padding layout-wrap
    layout-align="center center">

    <md-content layout="column" flex="grow" layout-align="center center">
        <md-content layout="row" flex="80" layout-align="center center">
         <md-content  layout-wrap
            flex="70" style="text-align: justify;">

<div layout="row" layout-fill layout-wrap layout-padding layout-align="center center">
    <h5> Aide </h5>
</div>

<div layout="row" layout-fill layout-wrap layout-padding layout-align="center center">
<p> <iframe src="//www.slideshare.net/slideshow/embed_code/key/9KKrUErWJyeT7R" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> </p>
</div>

Dans sa version <b>Bêta</b>, le site internet permet un accès direct à la majorité des textes, des transcriptions et des traductions du latin au français de la base de données, ainsi que toutes les fonctionnalités de visualisation et de recherche dans le corpus présenté.
</br></br>

Le corpus des relations sera enrichi en permanence et, à brève échéance, une exposition virtuelle de gravures de fête sera mise en ligne.
</br></br>

Afin d’améliorer la qualité de la base de données, nous remercions les utilisateurs de bien vouloir signaler toute erreur ou disfonctionnement à l'adresse suivante: <a href='mailto:info@spectaclebaroque.eu'>info@spectaclebaroque.eu</a>.
</br></br>

</md-content>
</md-content>
</md-content>
</md-content>
</div>

