<div>
  <md-content
    layout="column" layout-padding layout-wrap
    layout-align="center center">

    <div>
        <h4> Help </h4>
    </div>

    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit odio ipsum omnis sit! Quidem doloremque omnis vitae veritatis odit, suscipit sint distinctio iure esse atque, at deleniti modi ipsa quod.</div>
    <div>Rerum iste libero reiciendis quis velit repellat, incidunt quisquam debitis ab? Ad quam blanditiis pariatur architecto optio id fugit! Mollitia aperiam officiis tenetur repudiandae perferendis hic expedita atque, dolore voluptas.</div>

  </md-content>
</div>
