
<div class="css-slider-wrapper"
    ng-controller="JustATest as j">
  <input type="radio" name="slider" class="slide-radio1" id="slider_1"
    ng-checked="checking.slide1">
  <input type="radio" name="slider" class="slide-radio2" id="slider_2"
    ng-checked="checking.slide2">
  <input type="radio" name="slider" class="slide-radio3" id="slider_3">
  <input type="radio" name="slider" class="slide-radio4" id="slider_4">
  <div class="slider-pagination">
    <label for="slider_1" class="page1"></label>
    <label for="slider_2" class="page2"></label>
    <label for="slider_3" class="page3"></label>
    <label for="slider_4" class="page4"></label>
  </div>

<!--
<div class="next control">
    <label for="slider_2" class="numb2">
        <i class="material-icons">skip_next</i>
        </label>
</div>
  <div class="previous control">
-->

  <div class="slider slide1">
    <div>
      <h2>Bienvenu</h2>
      <md-button class="md-raised">
        <a ui-sref='welcome.subsection' layout='row' layout-align="center center">
            Project
        </a>
      </md-button>
      <md-button class="md-raised">
        <a href ng-click="checking.slide2 = true;"
            layout='row' layout-align="center center">
            Next
            <i class="material-icons">skip_next</i>
        </a>
      </md-button>
    </div>
  </div>
  <div class="slider slide2">
    <div>
      <h2>Second</h2>
      <a href class="button" title="css slider">Other</a>
      <a href class="button">
        Next
        </a>
    </div>
  </div>
  <div class="slider slide3">
    <div>
      <h2>Full screen animation slider</h2>
      <a href="http://www.htmllion.com/pure-css-based-fullscreen-slider.html" class="button" title="Full screen animation css slider">Back</a> <a href="http://www.htmllion.com/download/pure-css-based-fullscreen-slider.zip" onclick="_gaq.push(['_trackEvent','Download','zip',this.href]);" class="button">Download</a> </div>
  </div>
  <div class="slider slide4">
    <div>
      <h2>css3 slider</h2>
      <a href="http://www.htmllion.com/pure-css-based-fullscreen-slider.html" class="button" title="css3 slider">Back</a> <a href="http://www.htmllion.com/download/pure-css-based-fullscreen-slider.zip" onclick="_gaq.push(['_trackEvent','Download','zip',this.href]);" class="button">Download</a> </div>
  </div>
</div>
