
<div
    ng-controller="JustATest as j"
    class="css-slider-wrapper" style="z-index: 99;"
    >

<!-- FIX REPEAT -->
  <input type="radio" name="slider" class="slide-radio1" id="slider_1"
    ng-checked="checking[0]">
  <input type="radio" name="slider" class="slide-radio2" id="slider_2"
    ng-checked="checking[1]">
  <input type="radio" name="slider" class="slide-radio3" id="slider_3">
  <input type="radio" name="slider" class="slide-radio4" id="slider_4">

  <div class="slider-pagination">
    <label for="slider_1" class="page1"></label>
    <label for="slider_2" class="page2"></label>
    <label for="slider_3" class="page3"></label>
    <label for="slider_4" class="page4"></label>
  </div>

<!-- SLIDE (REPEAT) -->
  <div class="slider slide1 teal">
    <div class="slideback" style="
        background-image: url(/static/uploads/welcome/Bienvenue.jpg);"></div>
    <div>
      <h2> Bienvenu <br> sur </h2>
      <h1 class="white-text">
            <span class='fragola'>C</span>ultures du
            <span class='fragola'>S</span>pectacle
            <span class='fragola'>B</span>aroque
      </h1>
      <hr>
      <a ui-sref='welcome.subsection'>
       <md-button class="md-raised paolo">
        <div layout='row' layout-align="center center"> Project </div>
       </md-button>
      </a>
      <a href ng-click="nextSlide(2)">
       <md-button class="md-raised paolo">
        <div layout='row' layout-align="center center">
            Next <i class="material-icons">skip_next</i>
        </div>
       </md-button>
      </a>
    </div>
  </div>
<!-- SLIDE (REPEAT) -->

  <div class="slider slide2">
    <div>
      <h2>Second</h2>
      <a href class="button" title="css slider">Other</a>
      <a href class="button">
        Next
        </a>
    </div>
  </div>
  <div class="slider slide3">
    <div>
      <h2>Full screen animation slider</h2>
      <a href="http://www.htmllion.com/pure-css-based-fullscreen-slider.html" class="button" title="Full screen animation css slider">Back</a> <a href="http://www.htmllion.com/download/pure-css-based-fullscreen-slider.zip" onclick="_gaq.push(['_trackEvent','Download','zip',this.href]);" class="button">Download</a> </div>
  </div>
  <div class="slider slide4">
    <div>
      <h2>css3 slider</h2>
      <a href="http://www.htmllion.com/pure-css-based-fullscreen-slider.html" class="button" title="css3 slider">Back</a> <a href="http://www.htmllion.com/download/pure-css-based-fullscreen-slider.zip" onclick="_gaq.push(['_trackEvent','Download','zip',this.href]);" class="button">Download</a> </div>
  </div>
</div>
