
<md-content layout="column" layout-padding
    ng-controller="PublicLexiqueController as lex">

    <!-- <h3>TEST</h3> -->

    <md-content layout="column" flex="grow" layout-align="center center">

        <div>
            <img src="http://via.placeholder.com/500x300">
        </div>

        <md-content layout="row" flex="70" layout-align="center center">
         <md-content layout-padding layout-wrap
            flex="70" style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate delectus similique explicabo ea molestias vitae voluptas. Nostrum quas in deleniti repellendus culpa repellat, deserunt quam cumque inventore magnam sapiente voluptas.
            </br>
            Expedita provident magnam neque similique, molestias consectetur accusamus cumque rerum vel, optio corporis. Totam omnis eligendi voluptates corporis cupiditate, provident architecto saepe quos eius ut voluptatibus tempore dolores accusamus magnam.
            </br>
            Id adipisci soluta iste, autem cumque sequi dicta molestias et reiciendis veniam placeat suscipit, odio voluptates. Numquam nulla laudantium, reprehenderit provident aspernatur nobis consequatur. Deserunt quod dolorem adipisci numquam fuga.
            </br>
            Neque, maiores quidem sit vitae inventore facilis? Quos consequatur voluptate, iste sunt soluta, ratione fugit voluptatibus, placeat minus explicabo harum tempore porro architecto facilis quidem? Commodi reprehenderit, nobis quasi omnis.
            </br>
         </md-content>
        </md-content>

    </md-content>

    <md-tabs md-selected='lex.tab'
        md-no-ink md-no-ink-bar md-stretch-tabs='never'
        md-no-pagination md-enable-disconnect md-autoselect
        md-align-tabs="bottom"
        >
        <md-tab
            ng-repeat="(tabname, tabdata) in lex.data"
            label="{{tabname}}" md-on-select="lex.current = tabdata ">
            <table>
                <thead>
                    <tr> <th ng-repeat="header in lex.headers">{{header}}</th> </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in lex.current">
                        <td ng-repeat="header in lex.headers" width="15%">
                            {{row[header]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-tab>
      </md-tabs>

    <md-content layout-padding layout-wrap>
        Lorem ipsum dolor sit amet, ne quod novum mei
    </md-content>

</md-content>
