
<md-content layout-padding layout-wrap
    ng-controller="LexiqueController as lex">

 <h3>Lexique management</h3>
 </hr>

    <ul>
        <li>
            Process:
            <i>
                <span ng-if="lex.status.exists"> running </span>
                <span ng-if="!lex.status.exists"> stopped </span>
            </i>
        </li>
        <li ng-if="lex.status.exists">
            Documents updated: <b>{{lex.status.counter}}</b>
            <md-progress-circular ng-disabled="!lex.status.exists"
                class="md-hue-2" md-diameter="15px"></md-progress-circular>
        </li>
        <li>&nbsp;</li>
        <li ng-if="!lex.status.exists">
            <a class="btn cyan darken-4 padbtn"
                ng-click="lex.launchLexique()"> launch </a>
        </li>
    </ul>

</md-content>
