<div ng-controller="NonController" >
  <md-content
    layout="column" layout-padding layout-wrap
    layout-align="center center">

    <div layout="row" layout-fill layout-wrap layout-padding layout-align="center center">
        <h5> Carte des fêtes </h5>
    </div>
    <div layout="column">
        <div style="padding: 20px;">
Cette carte des fêtes <b>localise</b> tous les témoignages connus des fêtes de canonisation des saints jésuites de 1622, qu’il s’agisse de livres imprimés, de relations manuscrites ou de courtes mentions dans des sources indirectes.
        </div>
        <div style="padding: 20px; padding-top: 0px;">
La carte permet aussi <b>d’accéder aux relations numérisées</b> sur d’autres sites, notamment les relations des fêtes célébrées en Espagne et en Nouvelle Espagne. Les relations imprimées et manuscrites des fêtes célébrées aux Pays-Bas, en Italie, en France et au Portugal sont accessibles directement sur la page
<b><a ui-sref="public.fastsearch">Recherche</a></b> ou <b><a ui-sref="public.lex">Liste des fêtes</a></b>.
</div>
        <div style="padding: 20px; padding-top: 0px;">
Les couleurs représentent les différentes provinces de la Compagnie de Jésus.
        </div>
    </div>

    <div layout="row" layout-fill layout-wrap layout-padding layout-align="center center">
    <p>
        <iframe
        src="https://www.google.be/maps/d/embed?mid=1JnE1nAzg-_5kKIvDl9P3zJc7JgM"
        width="750" height="500"></iframe>
    </p>
    </div>

    <div layout="row" layout-fill layout-wrap layout-padding layout-align="center center">
        <img src="/static/img/custom/legend.png" alt="legenda">
    </div>

  </md-content>
</div>
