
<md-content layout-padding layout-wrap ng-controller="OperationsController">

    <h3>
        <!-- Organize this web site -->
        Organiser ce site web
    </h3>

    <table class="bordered" style="width: 300px;">
        <tbody>

            <tr>
                <td> Create a new record </td>
                <td class="center-align">
                    <a ui-sref="logged.submit({id: 'draft', step: 1})"
                        class="btn indigo padbtn">
                        create </a> </td>
            </tr>

            <tr>
                <td> List uncompleted records </td>
                <td class="center-align">
                    <a ui-sref="logged.uncomplete"
                        class="btn indigo padbtn">
                        finish </a> </td>
            </tr>

            <tr>
                <td> Edit transcriptions or add missing images </td>
                <td class="center-align">
                    <a ui-sref="logged.explore" class="btn indigo padbtn">
                        explore </a> </td>
            </tr>

            <tr>
                <td> List corrupted images </td>
                <td class="center-align">
                    <a ui-sref="logged.corrupted" class="btn indigo padbtn">
                        broken </a> </td>
            </tr>

            <tr>
                <td> Manage users </td>
                <td class="center-align">
                    <a ui-sref="logged.accounts" class="btn lime padbtn">
                        accounts </a> </td>
            </tr>

            <tr>
                <td> Modify site pages </td>
                <td class="center-align">
                    <a ui-sref="logged.admin" class="btn lime padbtn">
                        site </a> </td>
            </tr>

            <tr>
                <td> Database backup </td>
                <td class="center-align">
                    <a ui-sref="logged.backups"
                    ng-disabled="true" class="btn lime padbtn">
                        backups </a> </td>
            </tr>

        </tbody>
    </table>

</md-content>