
<div ng-controller="StepsController as steps"
    layout="column"
    layout-margin layout-padding>

    <div style="padding-left: 40px;">
        <h4 ng-show="steps.element">

            <!-- <a href ng-click="goToLastRoute()"> -->
            <a ui-sref='public.list({name: null})'>
                <md-button>
                    <div layout='row' layout-align="center center" flex >
                        <i class="material-icons prefix">arrow_back</i> Retour
                    </div>
                </md-button>
            </a>
            DETAILS DE LA FÊTE
        </h4>
        <h4 ng-hide="steps.element"> LISTE DES FÊTES </h4>
    </div>

    <hr style="padding:0px;">

    <div>
      <div ng-if="!steps.data">
        <div ng-include="root.templateDir + 'loader.html'"></div>
      </div>

      <div ng-if="steps.data && steps.element">

        <b>Fête</b>:
        {{steps.element['Titre abrégé']}}
        <br>
        <table>
          <tr>
            <th width="50"> Source: </th>
            <td>
            <div ng-repeat="source in steps.element['Titre abrégé de la source']">
                <a href ng-click="steps.searchSource(source)">
                    {{source}}
                </a>
            </div>
            </td>
          </tr>
        </table>

        <table class="table table-hover bordered highlight responsive-table">
            <thead style="font-style: italic;">
                <tr>
                    <th>Vignette</th>
                    <th>Page</th>
                    <th>Temps</th>
                    <th>Actions</th>
                    <th>Apparato</th>
<!--
                    <th></th>
                    <th></th>
-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in steps.element.extrait | orderBy: '+sort'">
                    <td width="20%">
                    <a ui-sref='public.details({id: row.record})'>
                     <img height=160
                ng-src="/static/uploads/{{row.filename}}/TileGroup0/0-0-0.jpg">
                    </a>
                    </td>
                    <td>
                        {{row.page}}
                        <!-- <br> {{row.name}} [{{row.sort}}] -->
                    </td>
                    <td>
                      <div ng-bind-html="row.Temps"></div>
                    </td>
                    <td>
                      <div ng-bind-html="row.Actions"></div>
                    </td>
                    <td>
                      <div ng-bind-html="row.Apparato"></div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>

      <div ng-if="steps.data && ! steps.element">
        <table class="table table-hover bordered highlight responsive-table">
            <thead style="font-style: italic;">
                <tr>
                    <th ng-repeat="header in steps.headers" valign="top">
                      <div layout="row" layout-align="center center">
                        <a href ng-click="steps.toggleSort($index)">
                            <h5> {{ steps.headers[$index] }} </h5>
                        </a>
                        <span ng-if="sortColumn == header">
                            <i class="material-icons" ng-if="reverse"> arrow_drop_up </i>
                            <i class="material-icons" ng-if="!reverse"> arrow_drop_down </i>
                        </span>
                      </div>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, fete) in steps.parties | orderBy:sortColumn:reverse ">
                    <td ng-repeat="header in steps.headers"
                        ng-class="{
                         'right-align': (header == 'Lieu'),
                         'topv-align': true
                        }"
                        >

                        <span ng-if="header == 'Fete'">
                            <!-- <a href ng-click="steps.selectElement(fete.key)"> -->
                            <a href ui-sref="public.list({name: fete.key})">
                              <div ng-bind-html="fete[header]"></div>
                            </a>
                        </span>

                        <span ng-if="header == 'Source'">
                            <div ng-repeat="source in fete[header]">
                                <span ng-if="fete[header].length < 2">
                                    {{source}}
                                </span>
                                <a ng-if="fete[header].length > 1"
                                    style="color: blue;"
                                    href ng-click="steps.searchSource(source)">
                                    {{source}}
                                </a>
                            </div>
                        </span>

                        <div ng-if="header != 'Fete' && header != 'Source'"
                            ng-bind-html="fete[header]"></div>
                    </td>
                    <td></td>
<!--
                    <td> {{fete}} ID:{{key}} </td>
      <td>
          <a href ng-click="steps.selectElement(fete.key)"
              class="waves-effect waves-light btn-floating lime lighten-3">
            <i class="material-icons blue-grey-text">list</i>
          </a>
      </td>
-->
      <td>
          <a ui-sref="logged.date({fetepos: key})" class="btn btn-floating">
            <i class="material-icons" data-position="down"
                data-tooltip="Modify fete 'date'" tooltipped>edit</i>
          </a>
      </td>
                </tr>
            </tbody>
        </table>
      </div>

    </div>

</div>

