<!-- HTML template for submission component -->

<!--
<md-toast>
  <span class="md-toast-text" flex>{{$ctrl.message}}</span>
</md-toast>
-->

<div layout="row" layout-align="center center">
    <md-button>
        <a ui-sref='public.details({id: id})'
            layout='row' layout-align="center center">
            <i class="material-icons prefix">arrow_back</i> details
        </a>
    </md-button>
    <h3> Editing '<b>{{$ctrl.main}}</b>' </h3>
</div>

<div ng-if="$ctrl.load" ng-include="$ctrl.templateDir + 'loader.html'"></div>

<md-content ng-if="!$ctrl.load"
    layout="row" layout-align="center start"
    layout-padding layout-wrap ng-cloak>

    <div flex=30>
     <md-content>
      <md-list flex>

        <!-- <md-subheader class="md-no-sticky"> STEPs </md-subheader> -->

        <md-divider ></md-divider>
        <md-list-item class="md-2-line" ng-click="$ctrl.go(id)"
            ng-if="item" ng-repeat="(id, item) in $ctrl._all['stepNames']">

          <i ng-if="id == $ctrl.step" class="material-icons"> label </i>
          <i ng-if="id != $ctrl.step" class="material-icons"> label_outline </i>

          <div class="md-list-item-text" layout="column" layout-padding>
            <h4>{{ item }}</h4>
            <p>
                step {{ id }}
                <span ng-if="id == $ctrl.step">
                    <i>
                        (CURRENT)
                    </i>
                </span>
            </p>
          </div>

        </md-list-item>
        <md-divider ></md-divider>
      </md-list>
     </md-content>
    </div>

    <div ng-if="$ctrl.message"
        layout="row" layout-align="center center"
        layout-wrap layout-padding flex>
        <md-card flex=50>
            <md-card-content
                class="indigo white-text"
                layout="row" layout-align="center center">
            <i class="material-icons">hourglass_empty</i>
            <i> {{$ctrl.message}}... </i>
            </md-card-content>
        </md-card>
    </div>

    <div ng-if="!$ctrl.message" flex=60>
    <form ng-submit="$ctrl.onSubmit()" name="$ctrl.form" novalidate>
     <md-card>

      <md-card-title>
        <md-card-title-text>
            <md-headline>
                <h5>
                    {{$ctrl._all['stepNames'][$ctrl.step]}}
                    <i> metadata </i>
                </h5>
            </md-headline>
        </md-card-title-text>
      </md-card-title>

      <md-card-content
        layout="row" layout-padding layout-margin layout-fill
        >
        <formly-form model="$ctrl.current"
            fieldTransforms="$ctrl.myfunctions"
            fields="$ctrl.formFields"
            ></formly-form>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
          <md-button type="submit"
            ng-disabled="$ctrl.form.$invalid">update</md-button>

<!--           <md-button
            ng-click="$ctrl.options.resetModel()">Reset</md-button>
 -->
      </md-card-actions>
     </md-card>
    </form>
    </div>

</md-content>
