<div ng-controller='ProfileController as ctrl'>

<div class="themaxsize" layout="column" layout-align="center center">

    <br>
    <h4>Change your password</h4>

    <md-content layout-padding>
        <form name='changePassword' ng-submit="changePassword.$valid && ctrl.changePassword();">

            <div layout="column">
                <md-input-container class="md-block" 
                    style='padding-bottom:0px;margin-bottom:0px;'>
                    <label>Current password</label>
                    <input type='password' ng-model="ctrl.currentPwd" disabled
                        style='padding-bottom:0px;margin-bottom:0px;'>
                </md-input-container>

                <md-input-container class="md-block" 
                    style='padding-bottom:0px;margin-bottom:0px;'>
                    <label>New password</label>
                    <input type='password' ng-model="ctrl.newPwd" required minlength="8"
                        style='padding-bottom:0px;margin-bottom:0px;'>
                </md-input-container>

                <md-input-container class="md-block" 
                    style='padding-bottom:0px;margin-bottom:0px;'>
                    <label>Confirm password</label>
                    <input type='password' ng-model="ctrl.confirmPwd" required minlength="8"
                        style='padding-bottom:0px;margin-bottom:0px;'>

                </md-input-container>

                <div>
                    <md-button type="submit">Submit</md-button>
                </div>

            </div>

        </form>

    </md-content>

</div>

</div>

