
<div class="row" ng-controller='LoginController as login' ng-cloak>
<div class="col-xs-6 col-xs-offset-3 text-center" style='padding-top:50px;'>

  <div class="panel panel-info">

    <div class="panel-heading">
      <h3 class="panel-title">Provide your credentials</h3>
    </div>

    <div class="panel-body text-left">

      <form name="myForm">

          <div class="form-group">
            <i class="material-icons prefix">account_circle</i>
            <label for="icon_prefix">Username</label>
            <input class="form-control"
              ng-model="login.user.username" id="username" name="username"
              id="icon_prefix" type="text" 
              required autofocus>
          </div>

          <div class="form-group">
            <i class="material-icons prefix">vpn_key</i>
            <label for="icon_telephone">Password</label>
            <input class="form-control"
              ng-model="login.user.password" id="password" name="password"
              type="password"
              required>
          </div>

          <div class='text-right'>
            <button type="submit" class="btn btn-default" ng-click='login.check()'>
              Signin
            </button>
          </div>

      </form>

    </div>
  </div>

</div>
</div>
