<div class='row'>
<div class='col-xs-6 col-xs-offset-3'>

<div class='panel panel-danger'>

<div class='panel-heading text-center'>
    <h3 class='panel-title'> Server not reachable </h3>
</div>

<div class='panel-body text-center'>

    <h5>

    Server is not reachable or connection is not available. Please retry again in a few minutes

    <br><br>
     
    <a ui-sref='public.login'>
        <i class='material-icons'>refresh</i>
        <br>
        Reload 
    </a>

    </h5>
</div>

<div class='panel-footer'>
</div>

</div>

</div>
</div>