
<div ng-controller='RegisterController as reg' ng-cloak>

<div class="row">
<div class="col-xs-8 col-xs-offset-2">

<div class='panel panel-success'>

<div class='panel panel-heading'>
  <h4 class='panel-title'>Register a new account</h4>
</div>

<form name="myForm">
<div class='panel panel-body'>


          <div class="form-group">
            <label for="icon_prefix">
              <i class="material-icons prefix">account_circle</i> E-mail address
            </label>
            
            <input ng-model="reg.user.email"
              id="email" name="email"
              id="icon_prefix" type="text" class="form-control"
              required autofocus>
            
          </div>

        <div class="form-group">
            <label for="icon_prefix">
              <i class="material-icons prefix">face</i> First name
            </label>
            <input ng-model="reg.user.name"
              id="name" name="name"
              id="icon_prefix" type="text" class="form-control" required>
        </div>

        <div class="form-group">
          <label for="icon_prefix">
            <i class="material-icons prefix">perm_identity</i> Surname
          </label>
          <input ng-model="reg.user.surname"
            id="surname" name="surname"
              id="icon_prefix" type="text" class="form-control" required>

        </div>

        <div class="form-group">
          <label for="icon_telephone">
            <i class="material-icons prefix">vpn_key</i> Password
          </label>
          <input ng-model="reg.user.password"
            id="password" name="password" type="password" class="form-control"
            required>
            
        </div>

        <div class="form-group">
            <label for="icon_telephone">
              <i class="material-icons prefix">vpn_key</i> Password confirmation
            </label>
            <input ng-model="reg.user.password_confirm"
              id="password_confirm" name="password_confirm"
              type="password" class="form-control" required>

        </div>

</div>

<div class='panel panel-footer text-right'  style='margin-bottom:0px;'>
  <button ng-click='reg.request()'type="submit" class="btn btn-success" >
    Submit request
  </button>
</div>

</form>

</div>
</div>
</div>
</div>



  


            <!-- or <a ui-sref='public.login'>sign in</a> with existing credentials -->
